$primary: #4d4d4d;
$navbar:#191919;
// $primary: #191919;
// $navbar:#4d4d4d;
$tabBar: #b5b5b5;
$tabulatorTop:#ddd;
$borderColor:#BEBEBE;
$filterSidebar: #e9e9e9;
// $filterSidebar:#E9E7EE;
$sideBarInner: #cac7c7;
$primaryColorPallet: $navbar;
$svgFill : #b4b1b5;
$calendarIconActive: #9a9a9a;
$loaderBorderLine: rgb(58, 58, 58);
$greyScale: grayscale(1);


