.modal{
    &.show{
        form{
            width: 100%;
        }
        .modal-content{
            border-radius: 0px;
            border: 0px;
            box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
            .ticket-container{
                border-radius: 0;
                #printThis{
                    display: flex;
                    >p{
                        
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 0px;
                       
                    }
                }
            }
            .cursor-pointer{
                &.text-darkPrimary{
                    text-decoration: underline !important;
                }
            }
           
        }

    }

    &.chatGroupModal{
         .modal-body{
            padding: 0;
            .members-list{
                // max-height: 300px;
                max-height: calc(100vh - 400px);;
                overflow: hidden;
                // overflow-y: auto;
            }
            .add-member-list{
                ul{
                    >li{
                        transition: all ease .3s;
                        cursor: pointer;
                        &.active{
                            background-color: $tabulatorTop;
                        }
                        &:hover{
                            background-color: $tabulatorTop;
                        }
                    }
                }
            }

            .owl-theme  {
                .owl-nav{
                    margin-top: 10px;
                    position: absolute;
                    top: calc(50% - 45px);
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    /* right: 9px; */
                    left: 4px;
                    padding-right: 10px;
                    margin-top: 0;
                    button{
                        font-size: 30px;
                        color: $navbar;
                        &:hover{
                            background-color: transparent !important;
                            color: $navbar;
                        }
                        &:focus{
                            box-shadow: 0 0 0 transparent;
                            outline: 0;
                        }
                    }
                }
            }
           
        
        
        
        }
        .showMemberList {
            overflow: hidden;
            height: 125px;
        }
    }
   
}
