$primary: #7E3D99;
$navbar:#3E246B;
$tabBar: #BCB3CC;
$borderColor:#ddd;
$tabulatorTop:#F7F4FF;
$filterSidebar:#E9E7EE;
$svgFill : #E1BEE7;
$sideBarInner: #bcb3cc;
$primaryColorPallet: $navbar;
$loaderBorderLine: rgba(133, 0, 178, 1);
$greyScale: grayscale(0);
