/******colors********/
$primaryColorPallet: #7E3D99;
$danger: #DE338B;
$orange: #E27321;
$lightPurple: #A23A8C;
$darkBlue: #2B2F7C;
$lightBlue: #14B2C7;
$info: #5AC6C3;
$white: #fff;
$black: #000;
$colorGrey:#6c757d;
$Lightgry:#eaeaea;
$tabulatorSelected: #9abcea;
$calendarIconActive: #8b7da2;
$btnInfo: #b29af8;


/********color Pallet**********/
$colorBlue:#23527c ;
$colorBlk:#191919;
$colorLightGreen: #85C2B2 ;
$colorLightBlue:lightblue ;

$tablet-width: 768px;
$desktop-width: 1024px;

/******shadows********/
$header-shadow:0px 0px 5px rgba(0, 0, 0, 0.25);


