<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="page-header-title">Dashboard</h1>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>

<div class="row">
    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <a class="card card-hover-shadow h-100" href="#">
            <div class="card-body">
                <h6 class="card-subtitle">Total Register Client</h6>

                <div class="row align-items-center gx-2 mb-1">
                    <div class="col-12">
                        <h2 class="card-title text-inherit">{{dashboardInfo.TOTAL_REG_USER}}</h2>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </a>
        <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <a class="card card-hover-shadow h-100" href="#">
            <div class="card-body">
                <h6 class="card-subtitle">Total Active Client</h6>

                <div class="row align-items-center gx-2 mb-1">
                    <div class="col-12">
                        <h2 class="card-title text-inherit">{{dashboardInfo.TOTAL_ACTIVE_USER}}</h2>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </a>
        <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <a class="card card-hover-shadow h-100" href="#">
            <div class="card-body">
                <h6 class="card-subtitle">Total Register Counsellor</h6>

                <div class="row align-items-center gx-2 mb-1">
                    <div class="col-12">
                        <h2 class="card-title text-inherit">{{dashboardInfo.TOTAL_REG_CLLR}}</h2>
                    </div>
                    <!-- End Col -->

                </div>
                <!-- End Row -->
            </div>
        </a>
        <!-- End Card -->
    </div>

    

    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
        <!-- Card -->
        <a class="card card-hover-shadow h-100" href="#">
            <div class="card-body">
                <h6 class="card-subtitle">Total Active Counsellor</h6>

                <div class="row align-items-center gx-2 mb-1">
                    <div class="col-12">
                        <h2 class="card-title text-inherit">{{dashboardInfo.TOTAL_ACTIVE_CLLR}}</h2>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->


            </div>
        </a>
        <!-- End Card -->
    </div>
</div>
