<style>
    .tabulator-section .tabulator-row table {
        vertical-align: middle;
        border-collapse: collapse;
    }

        .tabulator-section .tabulator-row table img {
            border: 2px solid #ccc;
        }

        .tabulator-section .tabulator-row table tr td {
            border: none;
        }

            .tabulator-section .tabulator-row table tr td:first-of-type {
                width: 60px;
            }

            .tabulator-section .tabulator-row table tr td div {
                padding: 5px;
            }
    .searchBar {
        display: none;
    }

    @media screen and (max-width:576px) {

        .searchBar {
            display:block;
        }
    }
</style>


<div class="modal fade" id="GeneratedQRCodeModalAdmin" style="z-index: 2000;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn btn-primary" id="btn-print-qr" href="javascript:void(0)" download><i class="fa fa-download" aria-hidden="true"></i> Download QR</a>
            </div>
            <div class="modal-body">
                <img src="" style="height: auto; width:100%; max-height: 400px;" />
            </div>
        </div>

    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="bredcrump" style="display:flex; justify-content: space-between;">
                <span><a class="lbl-company-name" href="/BusinessAdmin/Dashboard">Company name</a> / <a class="lbl-calendar-name" ui-sref="Home()" href="#/home">Company name</a> / <a ui-sref="Home()" href="#/home">{{translation.Dashboard}}</a> </span>
                <div class="login_primary">
                    <button class="btn btn-primary" ng-show="calendarPublishable" ng-click="publishCalendar();" style="border-radius: 50px;">Publish Calendar</button>
                </div>
            </div>

        </div>

    </div>
    <div class="row pt-lg-2 hide-for-superadmin">

        <div class="col-lg-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head purple">
                            <h3>{{translation.Booking_todays}}</h3>
                            <img src="">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1 id="lblBookingToday">0</h1>
                                </div>
                                <div class="w-r w-20">
                                    <h3><img src="/assets/img/angle-red.png" /> 0%</h3>
                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span class="current-date"></span> <span></span> <span></span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head purple">
                            <h3>{{translation.Booking_this_week}}</h3>
                            <img src="/assets/img/ques.png">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1 id="lblBookingThisWeek">0</h1>
                                </div>
                                <div class="w-r w-20">
                                    <h3><img src="/assets/img/angle-blue.png" /> 0%</h3>
                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span class="current-date"></span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--<div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head purple">
                            <h3>{{translation.Workload_this_week}}</h3>
                            <img src="/assets/img/ques.png">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1>0 hrs</h1>
                                </div>
                                <div class="w-r w-20">

                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span>2023-02-20</span> - <span class="current-date">2023 02 -26</span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head salmon">
                            <h3>{{translation.Income_this_month}}</h3>
                            <img src="/assets/img/ques.png">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1>HK$00</h1>
                                </div>
                                <div class="w-r w-20">

                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span>2023-02-20</span> - <span class="current-date">2023 02 -26</span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>-->

            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="calendar-dashboard-top" style="height:35px;">
                            <span style="position: relative;top: 2px; font-weight:600; font-size:18px;">{{translation.Upcoming_bookings}}</span>
                           
                            <span style="float:right;" class="login_primary"><button class="btn btn-primary" ui-sref="calendar_view({formId:2305})" style="border-radius:100px; padding: 8px 16px">{{translation.See_All}}</button></span>
                        </div>

                        <div class="calendar-dashboard-top searchBar" style="height:35px;">

                            <div class="input-group" style="float:left;width:60%">
                              <span class="input-group-text" ng-click="toogleSort()"><i ng-class="{'bi bi-sort-down':SortUp,'bi bi-sort-up':!SortUp}"></i></span> 
                                <input type="text" class="form-control" placeholder="Search" id="searchBar" />
                            </div>

                           
                        </div>

                        <div class="card-body pt-0 mp-0 p-1">
                            <div id="pageActions">
                                <div class="tabulator-section">
                                    <div class="form-builder-loader text-center">
                                        <div class="loader">
                                            <i class="fa fa-spinner fa-pulse fa-fw"> </i>
                                            <div>
                                                {{translation.Loading_Form_Tabulator}}...
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form-records"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Row -->
</div>