<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="bredcrump">
                <span><a class="lbl-company-name" href="/BusinessAdmin/Dashboard">Company name</a> / <a class="lbl-calendar-name" ui-sref="Home()" href="#/home">Company name</a> / <a ui-sref="Home()" href="#/home">{{translation.Dashboard}}</a> </span>
            </div>
        </div>
    </div>
    <div class="row pt-lg-2 hide-for-superadmin">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head purple">
                            <h3>{{translation.Booking_todays}}</h3>
                            <img src="">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1 id="lblBookingToday">1</h1>
                                </div>
                                <div class="w-r w-20">
                                    <h3><img src="/assets/img/angle-red.png" /> 0%</h3>
                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span class="current-date">2023-02-21</span> <span></span> <span></span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head purple">
                            <h3>{{translation.Booking_this_week}}</h3>
                            <img src="/assets/img/ques.png">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1 id="lblBookingThisWeek">1</h1>
                                </div>
                                <div class="w-r w-20">
                                    <h3><img src="/assets/img/angle-blue.png" /> 0%</h3>
                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span>2023-02-20</span> - <span class="current-date">2023 02 -26</span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head purple">
                            <h3>{{translation.Workload_this_week}}</h3>
                            <img src="/assets/img/ques.png">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1>0 hrs</h1>
                                </div>
                                <div class="w-r w-20">
                                    
                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span>2023-02-20</span> - <span class="current-date">2023 02 -26</span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="wraping">
                        <div class="top-head salmon">
                            <h3>{{translation.Income_this_month}}</h3>
                            <img src="/assets/img/ques.png">
                        </div>
                        <div class="wrap-body">
                            <div class="wb-top">
                                <div class="w-l w-80">
                                    <h1>HK$00</h1>
                                </div>
                                <div class="w-r w-20">
                                   
                                </div>
                            </div>
                            <div class="wb-bottom">
                                <div class="w-l w-80">
                                    <p><span>2023-02-20</span> - <span class="current-date">2023 02 -26</span></p>
                                </div>
                                <div class="w-r w-20">
                                    <p><a href="#"> {{translation.View}} ></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="calendar-dashboard-top" style="height:35px;">
                            <span style="position: relative;top: 2px; font-weight:600; font-size:18px;">{{translation.Upcoming_bookings}}</span>
                            <span style="float:right;"><button class="btn btn-primary" ui-sref="calendar_view({formId:2305})" style="border-radius:100px; padding: 8px 16px">{{translation.See_All}}</button></span>
                        </div>

                        <div class="card-body pt-0 mp-0 p-1">
                            <div id="pageActions">
                                <div class="tabulator-section">
                                    <div id="page-tabs"
                                         class="ui-tabs ui-corner-all ui-widget ui-widget-content"
                                         ng-if="tabList.length>0">
                                        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                                            <li tabindex="-1"
                                                class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                                                id="tab-{{$index}}"
                                                ng-repeat="l in tabList track by $index"
                                                ng-click="selectedTabFilter(l,$index)">
                                                <a data-target="#{{l.value}}"
                                                   tabindex="-1"
                                                   class="ui-tabs-anchor">{{l.label}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-builder-loader text-center">
                                        <div class="loader">
                                            <i class="fa fa-spinner fa-pulse fa-fw"> </i>
                                            <div>
                                                {{translation.Loading_Form_Tabulator}}...
                                            </div>
                                        </div>
                                    </div>
                                    <div id="form-records"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Row -->
</div>