/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 8, 2019, 12:21:46 PM
    Author     : PHP06
*/

#action, #result, #filename, #progress {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#progress {
    text-align: left;
}
#import_progress {
    /*color: #fff;*/
    font-size: 21px;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    position: absolute;
    padding-top: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#import_progress #left_progress{ 
    position: absolute;
    left: 0;
    /*color: #aaa;*/
}
#import_progress #left_progress span{
    /*color:#fff;*/
} 
#import_progress #right_progress{ 
    position: absolute;
    right: 0;
    /*color:#aaa;*/
}
#import_progress #right_progress span{
    /*color:#fff;*/
}
#logwrapper {
    margin: 0 auto;
    transform: translate(0px, 50%);
    width: 90%;
    padding: 20px;
    border: 1px solid #aaa;
}
#logwrapper legend {
    width: 5%;
    margin-bottom: 0;
    border-bottom: 0;
    /*color: #eee;*/
}
#logwrapper #loglist {
    font-size: 18px;
    position: relative;    
    overflow: auto;
    transform: translate(0, 0);
    left: 0;
    height: 500px;
    background: #fff;
    color: #000;
}
#logwrapper #loglist .heading {
    text-align: center;
    background-color: #aaaaaa;
    margin: 0;
    padding: 10px 5px;
}
#logwrapper #loglist > p {
    margin: 0;
    padding: 3px 5px;
    font-size: 14px;
}
#logwrapper #loglist > p.issue {
    background: #cccccc;
}
#logwrapper #loglist > p.odd {
    background: #e9e9e9;
}
@media screen and (min-width: 1200px) {
    #progress {
        width: 60%;
    }
    #import_progress {        
        width: 60%;
    }
    #logwrapper {        
        width: 61%;
    }
}