.invalid-feedback-2 {
    color: red !important;
    margin-bottom: 11px;
    display: block !important;
}

.photo-album{
    height:150px;
    width:100%;
    border-radius:8px;
    box-shadow:0px 3px 6px rgb(0, 56, 81, 0.18);
}

.pricing-custome-inner {
    min-height: 55vh!important;
}

.pro-im {
    min-height: 140px;
    max-height: 140px;
    display: flex;
    align-content: center;
    align-items: center;
}

.pro-im img{
    min-height: 140px;
    max-height: 140px;
}

/*=============================*/
.button-body-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-body {
    position: relative;
    width: auto;
}

.cus-button {
    width: 40px;
    height: 40px;
    position: relative;
    left: 0;
    border-radius: 100px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding 0.4s, width 0.3s;
    background-color: transparent;
    border: none;
}

.button_img {
    display: block;
    width: auto;
}

.button_title {
    color: #fff;
    text-transform: uppercase;
    width: 0px;
    opacity: 0;
    margin: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s, width 0.3s, margin 0.3s;
}

.cus-button:hover {
    padding: 0px 11px;
    width: auto;
    background-color: #72328a;
}

    .cus-button:hover .button_title {
        opacity: 1;
        margin-left: 15px;
        width: auto;
        visibility: visible;
    }
.business-logo {
    width: 100%;
    min-width: 3rem;
    max-width: 3rem;
}

/*new drop*/
.dropdown-me {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-me .dropdown-toggle {
    padding: 8px 20px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    position: relative;
}

/*.dropdown-me .dropdown-toggle:after {
    content: '\25BC';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}*/

    .dropdown-me .dropdown-men {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
    }

.dropdown-me .dropdown-men a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-me .dropdown-men a:hover {
    background-color: #f1f1f1;
}

.dropdown-me.open .dropdown-men {
    display: block;
}
.overflow_v {
 overflow:visible;
}