.invalid-feedback-2 {
    color: red !important;
    margin-bottom: 11px;
    display: block !important;
}

.photo-album{
    height:150px;
    width:100%;
    border-radius:8px;
    box-shadow:0px 3px 6px rgb(0, 56, 81, 0.18);
}

.pricing-custome-inner {
    min-height: 55vh!important;
}

.pro-im {
    min-height: 140px;
    max-height: 140px;
    display: flex;
    align-content: center;
    align-items: center;
}

.pro-im img{
    min-height: 140px;
    max-height: 140px;
}

/*=============================*/
.button-body-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-body {
    position: relative;
    width: auto;
}

.cus-button {
    width: 40px;
    height: 40px;
    position: relative;
    left: 0;
    border-radius: 100px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding 0.4s, width 0.3s;
    background-color: transparent;
    border: none;
}

.button_img {
    display: block;
    width: auto;
}

.button_title {
    color: #fff;
    text-transform: uppercase;
    width: 0px;
    opacity: 0;
    margin: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s, width 0.3s, margin 0.3s;
}

.cus-button:hover {
    padding: 0px 11px;
    width: auto;
    background-color: #72328a;
}

    .cus-button:hover .button_title {
        opacity: 1;
        margin-left: 15px;
        width: auto;
        visibility: visible;
    }
.business-logo {
    width: 100%;
    /*min-width: 3rem;
    max-width: 3rem;*/
}

/*new drop*/
.dropdown-me {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background:white;
}

.dropdown-me .dropdown-toggle {
    padding: 8px 20px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    position: relative;
}

/*.dropdown-me .dropdown-toggle:after {
    content: '\25BC';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}*/

    .dropdown-me .dropdown-men {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
    }

.dropdown-me .dropdown-men a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-me .dropdown-men a:hover {
    background-color: #f1f1f1;
}

.dropdown-me.open .dropdown-men {
    display: block;
}
.overflow_v {
 overflow:visible;
}

.add-company {
    width: 100%;
    float: left;
    padding: 4px 3px;
    text-align: center;
    border-top: 1px solid rgb(114 50 138 / 45%);
}

    .add-company button {
        width: 100%;
        border: none;
        background: transparent;
        color: #72328a;
    }

div#navbarContainerNavDropdown .nav-link.active {
    background-color: #72328a;
    width: 100%;
}

    div#navbarContainerNavDropdown .nav-link.active button.cus-button img.hns, button.cus-button:hover img.hns {
        display: none;
    }

    button.cus-button:hover img.hs, div#navbarContainerNavDropdown .nav-link.active button.cus-button img.hs {
        display: block;
    }

button.cus-button img.hs {
    display: none;
}
button.cus-button img {
    width: 20px;
}
.grey-back {
    background-color: rgba(235, 235, 235, 1);
}
.white-back {
    background-color: #fff;
}

.notification {
    position: relative;
}

span.notification-num {
    position: absolute;
    top: -10px;
    left: 11px;
    background-color: rgba(63, 191, 199, 1);
    width: 28px;
    height: 28px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 11px;
    color: #fff;
}
div#navbarDoubleLineContainerNavDropdown button.cus-button:hover {
    background-color: #f38592;
}
div#navbarContainerNavDropdown ul li .nav-link, div#navbarDoubleLineContainerNavDropdown ul li a {
    padding-right: 0px;
}
/*div#navbarDoubleLineContainerNavDropdown ul.navbar-nav li.nav-item a.active {
    background-color: #f38592;
}*/


.empty-space {
    width: 100%;
    float: left;
    height: 16px;
}
.basic .pricing-body h2, .basic .pricing-body .extra-larg {
    color: rgba(119, 119, 119, 1);
}
.basic .pricing-custome-inner {
    background-color: rgb(235 235 235);
}
button.payment {
    background: rgba(226, 71, 108, 1);
    border: 1px solid rgba(226, 71, 108, 1);
    border-radius: 30px;
    color: #ffffff;
    width: 100%;
    margin: 0;
}
.basic .price-btn button.payment {
    background: #72328a;
    border: 1px solid #72328a;
    border-radius: 30px;
    color: #ffffff;
    width: 100%;
    margin: 0;
}
.price-list-detail {
    width: 100%;
    float: left;
    margin-top: 20px;
}

    .price-list-detail ul {
        padding-left: 0px;
    }

        .price-list-detail ul li {
            list-style-type: none;
            color: rgba(34, 34, 34, 1);
            font-size: 14px;
            margin-bottom: 5px;
        }

            .price-list-detail ul li b {
                font-size: 24px;
            }

            .price-list-detail ul li:nth-child(even) {
                margin-bottom: 15px;
            }
.black {
    background-color: #000;
}
.m-width {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.m-width_50 {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
}
.steps p {
    font-weight: 700;
    font-size: 24px;
    color: rgba(226, 71, 108, 1);
}
    
    .steps p.step-title {
        color: #000;
    }

.no-padding-form .form-group {
    padding-left: 0px !important;
}
.basic .pricing-body {
    padding-bottom: 15px;
}
.desk-padding {
padding-left:2rem;
padding-right:2rem;
}
span.warning {
    color: rgba(182, 0, 25, 1);
    font-weight: 700;
}
.ycaml {
    width: 100%;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.wb-top, .wb-bottom .w-100 {
    width: 100%;
    float: left;
}

.w-100 table {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.w-100 table tr td:nth-child(2) {
    text-align: right;
}

@media screen and (min-width:900px) and (max-width:990px) {
    .sec-head {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
@media screen and (min-width:768px) and (max-width:899px){
    .Pricing-wrapper .pricing-custome {
        width: 100% !important;
        max-width: 50%;
    }
    .sec-head {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
@media screen and (max-width:768px) {
    
    .cus-button {
        padding: 0px 11px;
        width: auto;
        background-color: transparent;
    }

    .button_title {
        color: #000;
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    .button_title {
        color: #000;
        width: 100%;
        opacity: 1;
        visibility: visible;
        margin-left: 10px;
    }

    .dropdown-me .dropdown-toggle {
        width: 100%;
        margin-bottom: 15px;
    }

    .dropdown-me {
        width: 100%;
    }

    div#navbarContainerNavDropdown .nav-link.active .button_title {
        color: #fff;
    }

    .mje {
        justify-content: end;
        padding: 5px 0px 0px;
    }

    .button-body-wrap {
        display: block;
    }


    .m-width{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .rac-img img {
        height: auto !im;
    }
}
@media screen and (max-width:767px) {
    .m-width_50 {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .pricing-custome {
        width: 100% !important;
        float: left;
        max-width:100% !important;
    }
    .business-logo {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .desk-padding {
        padding-left: 0rem;
        padding-right: 0rem;
    }
   
}

@media screen and (max-width:768px) {
    .ycaml button {
        margin-bottom: 15px;
    }

    .ycaml {
        display: block;
    }
}

@media screen and (max-width:500px) {
    a.see-plan {
        top: 75px !important;
        right: 7px !important;
        padding: 5px 7px !important;
        font-size: 13px;
    }
}
