*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    float: left;
}











/*======================== top bar ==============================*/
.main-header {
    width: 100%;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -5px #646464;
}

.top-bar {
    width: 100%;
    float: left;
    padding: 12px 0px;
    text-align: right;
}

.top-bar span {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    padding: 0px 15px;
}

.top-bar span:last-child {
    font-size: 18px;
    font-weight: 700;
    color: #E2476C;
}
.top-bar span:nth-child(2) img {
    width: 10px;
}
.top-bar span img {
    width: 12px;
    top: -2px;
    position: relative;
}
/* ========================= nav bar ========================= */
.navbar-nav>li {
    float: left;
    margin: 0px 5px;
}
div#myNavbar .navbar-nav li a:hover {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 400;
    background-color: #e3476c;
    border-radius: 10px 10px 0px 0px;
}

div#myNavbar .navbar-nav li ul li a:hover {
    color: #E2476C!important;
}

.logo-serch {
    width: 100%;
    float: left;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
}
.user-name {
    width: 100%;
    float: left;
}
.user-name p {
    margin-bottom: 0px;
    line-height: 3;
    text-align: revert;
    position: absolute;
    right: 35px;
    top: 12px;
}
.search-bar {
    width: 290px;
}
.search-bar .input-group {
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
    border-radius: 40px;
}
.input-group-btn .glyphicon {
    color: #3fbfc8;
}
.search-bar .input-group input, .search-bar .input-group .input-group-btn .btn {
    border: none;
    box-shadow: none;
}

.main-menu nav.navbar {
    margin-bottom: -1px;
}

@media screen and (min-width:769px){
.navbar-collapse.collapse {
    display: flex !important;
    justify-content: right;
}
}

div#myNavbar .navbar-nav li.active a {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

div#myNavbar .navbar-nav li a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}


div#myNavbar .navbar-nav li.rl a {
    background-color: #E2476C;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;
}
div#myNavbar .navbar-nav li.rl ul a {
    background-color: transparent;
    color: #222;
    
  }

/*======================================= bnner section ==================================================*/

section.top-banner {
    /*background-image: url("../image/banner-back.jpg");*/
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-form h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 25px;
}
.banner-form {
    width: 100%;
    float: left;
    padding-top: 54px;
    padding-bottom: 35px;
}
.bg .banner-form{ 
        padding-top: 98px;
    margin-bottom: 15px;
}

.banner-image {
    width: 100%;
    float: left;
}
.banner-image img {
    width: 95%;
    position: relative;
    top: 50px;
    margin-left: 25px;
}
.form-inner {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 10px;
}

.fields {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.form-inner p {
    color: #777777;
    font-weight: 400;
    font-size: 15px;
}
.fields .form-group {
    width: 42%;
    float: left;
    margin-right: 10px;
}

.fields .form-group select {
    border: 1px solid #CCCCCC;
    height: 50px;
    border-radius: 50px;
    padding: 0px 15px;
    color: #000;
}
.fields .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../image/aerrow.png");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 18px;
    background-size: 14px;
}

.fields p a {
    background-color: #e3476c;
    padding: 15px;
    border-radius: 50px;
    position: relative;
    top: 40px;
}
.fields p {
    width: 12%;
    float: left;
}

/*sliders*/

.pro-text p {
    margin-bottom: 3px;
}
.pro-text {
    padding: 8px 0px;
}
p.p4, p.p1 {
    font-size: 13px;
}
p.p2 {
    font-size: 16px;
}
p.p3 {
    font-size: 14px;
}
p.p4 a {
    text-decoration: underline;
    color: #3fbfc8;
    padding: 0px 8px 0px 0px;
}
section.subcatageory {
    margin-top: 40px;
} 

.heading-cata h3 {
    color: #E2476C;
    font-weight: 600;
    font-size: 18px;
} 

.my-slide button.owl-prev {
    left: -60px;
    top: 45%;
}

.my-slide button.owl-next {
    
    right: -60px;    
    top: 45%;
    
}
.my-slide button.owl-prev span, .my-slide button.owl-next span {
    color: #3FBFC7;
    display: block;
    line-height: 12px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    border: 1px solid #CCCCCC !important;
    font-size: 40px !important;
    border-radius: 50px;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*======================================= booking ===============================================*/
.mt-80{
    margin-top: 80px;
}
.booking-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    align-items: center;
    color: #E2476C;
}
.booking-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #222222;
}

.booking-im img {
    width: 100%;
}
.booking-im {
    width: 100%;
    float: left;
}


/*===================================== how does it work ==========================================*/
.mt-60{
    margin-top: 60px;
}

.mb-60{
    margin-bottom: 60px;
}

.hdiw-inner h2 {
    text-align: center;
    font-size: 40px;
    color: #e2476c;
    font-weight: 700;
}

.im img {
    width: 100%;
    margin-bottom: 15px;
}
.im {
    width: 100%;
    float: left;
}
.txt h3 {
    font-weight: 600;
    font-size: 18px;
    color: #E2476C;
}
.txt p {
    font-weight: 400;
    font-size: 14px;
    color: #222;
}


button.learn-more {
    padding: 0;
    border: none;
    width: 200px;
    margin-top: 15px;
    background: transparent;
}
button.learn-more a {
    background: #E2476C;
    border-radius: 30px;
    border: none;
    color: #fff;
    width: 100%;
    float: left;
    padding: 10px;
    text-decoration: none;
}

div#owl-demo5 .pro-im img {
    width: 100%;
    height: 115px;
}

.pro-text .f2 {
    font-size: 14px;
}
.pro-text .f1 {
    font-size: 13px;
}

/*footer*/
section.footer {
    padding: 20px 0px;
    background-color: #222222;
    margin-top: 40px;
}
.fooetr-link a {
    color: #fff;
    padding: 0px 10px;
    text-decoration: none;
}
.fooetr-link a:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.social-links {
    text-align: right;
}
.social-links a {
    color: #fff;
}


/*============================= business ======================================*/
section.bredcrum {
    padding: 20px 0px;
}

.head h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
}
.filter button.filter-btn {
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    float: left;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
}
.filter p, .Search p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.filter button.filter-btn img {
    margin-right: 10px;
    width: 22px;
}
.filter-tags {
    width: 100%;
    float: left;
}
.filter-tags input {
    width: 100%;
    border: 1px solid #ddd;
    height: 40px;
    border-radius: 40px;
    outline: none;
}
.inner-content {
    width: 100%;
    float: left;
    margin-top: 40px;
}
h4.media-heading {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #E2476C;
}
.media {
    margin-bottom: 25px;
}
.media-body p {
    font-size: 15px;
    margin-bottom: 5px;
}

/*=============================== pagination ====================================*/
.pagination {
    margin-top: 50px;
    width: 100%;
    float: left;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination .btn {
    /* border: 1px solid #3fbfc7; */
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
    outline: none;
}
.pagination .btn img {
    width: 34px;
    height: 34px;
}

.pagination .btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.pagination .btn:hover {
  background-color:transparent;
}

.pagination .btn:hover .btn-icon {
  stroke: #fff;
}

.pagination .page-link:link, .pagination .page-link:visited {
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 2;
    border: 1px solid #3fbfc7;
    margin-right: 10px;
    color: #3fbfc7;
}

.pagination .page-link:hover,
.pagination .page-link:active,
.pagination .page-link.page-link--current {
  background-color: #3FBFC7;
  color: #fff;
}

.pagination .dots {
  color: #868e96;
}

/*============================= tag =============================*/
.sub-hed p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #E2476C;
    margin-bottom: 30px;
}
.tag h4.media-heading {
    color: #222222;
}

/*com-nav*/
.com-det {
    margin-bottom: 0px;
    background: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.com-det a.navbar-brand {
    padding: 7px 15px;
}

.com-nav {
    margin: 5px 0px 0px 0px;
}

div#com-nav ul.nav.navbar-nav {
    margin-top: 7px;
    margin-bottom: -1px;
}

div#com-nav .navbar-nav li {
    float: left;
    margin: 0px 1px;
}

div#com-nav .navbar-nav li a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

div#com-nav .navbar-nav li.active a {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

div#com-nav .navbar-nav li.rl a {
    background-color: #E2476C;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;
}

.com-nav .input-group {
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
    border-radius: 40px;
    background-color: #fff;
}

.com-nav .input-group input, .com-nav .input-group .input-group-btn .btn {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

/*secondry nav*/
.no-mar-bott {
    margin-bottom: 0px;
    padding: 10px 0px;
}
.company-detail-hed .head h2 {
    font-size:24px;
}
.cd-banner {
    width: 100%;
    float: left;
    margin-top: 25px;
}
.cd-banner img {
    width: 100%;
}
.address {
    width: 100%;
    float: left;
}
.address p.pink, .detail p.pink {
    color: #E2476C;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.22px;
}
.address p, .detail p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.22px;
    color: #222222;
}
.detail {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.add-social, .mt-30 {
    margin-top: 30px;
}
span.location {
    color: #777;
    font-size: 14px;
}
/*end*/
.card-top-detail, .card-bottom {
    width: 100%;
    float: left;
}
.bpgd {
    width: 30%;
    float: left;
    padding: 15px 15px;
    background-color: #ECFAFB;
    border-radius: 10px;
    margin-right: 14px;
    margin-bottom: 15px;
}
.bpgd h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
}
.bpgd p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 0px;
}
p.mt-10 {
    margin-top: 10px;
}
.bpgd p button {
    width: 100%;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 22px;
    background-color: #3FBFC7;
}
.card-pakage {
    width: 100%;
    float: left;
    padding: 15px;
    border: 2px solid #3FBFC7;
    border-radius: 10px;
}
.mihi-71{
    min-height: 71vh;
}

/*start*/
.schedule-drop select {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    height: 40px;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.favr button {
    border: 2px solid #3FBFC7;
    border-radius: 30px;
    color: #3FBFC7;
    background-color: #fff;
    padding: 6px 20px;
    width: 200px;
}
.favr {
    width: 100%;
    float: left;
    text-align: right;
    padding-top: 28px;
}
.schedule-drop:after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 12px;
    width: 12px;
    height: 12px;
    background-image: url("../image/aerrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.schedule-drop {
    position: relative;
}
section.schedule {
    margin-top: 30px;
}
div#secondry-nav ul li a {
    background-color: transparent;
    font-weight: 400;
    color: #222222;
}
div#secondry-nav ul li.active a {
    font-weight: 700;
}
li.rl > ul > li > a {
    background-color: transparent !important;
    color: #222222 !important;
}
.fl-r {
    width: 150px;
    float: right;
}
.news-banner img {
    width: 100%;
}
.news-banner {
    width: 100%;
    float: left;
    margin-top: 15px;
}
button.blogtag_num {
    background-color: transparent;
    color: #3FBFC7;
    text-align: center;
    padding: 8px 0px;
    overflow-y: hidden;
    max-height: 38px;
    width: 100%;
    border: 2px solid #3FBFC7;
    border-radius: 30px;
}
.blog-slide {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.sp-dis p {
    width: 100%;
    float: left;
    margin: 12px 0px;
    color: #222222;
    font-size: 14px;
}
.sidebar .media-body p {
    margin-bottom: 0px;
}

.search-bar span {
    font-size: 16px;
    position: relative;
    top: 10px;
}
.tin-inner .booking-text {
    max-width: 65%;
    margin: 0 auto;
}
.prt
{
    position: relative;
    top: 50px;
}

.bg2 .banner-image {
    text-align: right;
}

.banner-image img {
    width: auto;
    position: relative;
    top: 7px;
    margin-left: 0px;
}
/*============================  media ====================================*/

@media screen and (max-width:767px){
.secondry-nav, .com-nav-btn {
    top: 10px !important;
    right: 0 !important;
    position: relative;
}
div#com-nav ul li, div#secondry-nav ul li {
    display: block;
    width: 100%;
    float: left;
}

div#com-nav ul, div#secondry-nav ul {
    width: 100%;
    float: left;
}

div#com-nav, div#secondry-nav {
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.bpgd {
    width: 100%;
    float: left;
}
}
/*end*/



