/*templet 1*/
:root {
    --font-weight: 700;
    --font-size-medium: 24px;
    --font-size-button: 14px;
    --font-size-second:22px;
    --heading-color: #000000;
    --width-100: 100%;
    --float-left: left;
    --height: 300px;
    --background-color-default: #D9D9D9;
    --background-image: url('../marketplace/image/marketplace-detail.jpg');
    --padding-primary: 10px 40px;
    --radius-button: 50px;
    --font-family-pop: poppins;
    --banner-text-color:#fff;
    --pd-left:0px;
    --pd-rightt:0px;
    --bg-inner-color:#fff;
}
body {
margin:0px;
padding:0px;
}

.pd-left {
    padding-left: var(--pd-left);
}
.pd-right {
    padding-right: var(--pd-right);
}

.templet-one-head h2 {
    font-weight: var(--font-weight);
    font-size: var(--font-size-medium);
    color: var(--heading-color);
}

.main-banner {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.main-banner-inner {
    width: var(--width-100);
    float: var(--float-left);
    display: table;
    height: var(--height);
    background-color: var(--background-color-default);
    background-image: var(--background-image);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main-banner-inner-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

p.banner-text-content {
    font-family: var(--font-family-pop);
    text-shadow: 0px 4px 4px #00000040;
    font-weight: var(--font-weight);
    font-size: var(--font-size-medium);
    color:var(--banner-text-color);
    
}
.banner-button {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: var(--padding-primary);
    border-radius: var(--radius-button);
    font-weight: var(--font-weight);
    font-size: var(--font-size-button)
}

.pink {
color:var(--primary-color)!important;

}
.address p, .detail p {
    color: var(--text-color);
}

.templet-two .detail, .templet-two .add-phone, .templet-two .add-email, .templet-two .add-social {
    text-align: center;
}

.templet-two .add-social {
    margin-bottom: 15px;
}

/*=========================*/
.templet-three {
    background-color: var(--background-color)
}

.address-inner, .main-inner-third {
    background-color: var(--bg-inner-color);
    padding: 15px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.chat-button button span {
    padding-left: 10px;
}

.chat-button button {
    color: #fff;
    padding: 7px 35px;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-color);
}
.map {
    margin-top: 30px;
}
.templet-two .chat-button {
    text-align: center;
}
 .chat-button {
    margin: 20px 0px;
}