<link href="fg-assets/lightbox/css/lightbox.css" rel="stylesheet" />
<link href="fg-assets/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
<script src="fg-assets/fullcalendar/dist/fullcalendar.js"></script>
<link href="Content/sidebar/css/mscustom-scroller.min.css" rel="stylesheet" />

<link href="fg-assets/fullcalendar-scheduler/dist/scheduler.min.css"
      rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/bootstrap-colorpicker.min.css"
      rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/bootstrap-datetimepicker.css"
      rel="stylesheet" />
<link href="fg-assets/css/jquery.jgrowl.min.css" rel="stylesheet" />

<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>



<!--<script src="fg-assets/js/jquery-ui.js"></script>-->
<script src="fg-assets/fullcalendar-scheduler/dist/scheduler.js"></script>
<script src="fg-assets/fullcalendar-scheduler/dist/bootstrap-datetimepicker.js"></script>

<script src="fg-assets/js/code/theme-chooser.js"></script>

<script src="fg-assets/js/jquery.jgrowl.min.js"></script>
<script src="fg-assets/js/moment.js"></script>
<link rel="stylesheet" href="fg-assets/css/bootstrap-colorpicker.min.css">
<script src="fg-assets/js/bootstrap-colorpicker.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<script type="text/javascript" src="fg-assets/js/jAutoCalc.js"></script>
<link rel="stylesheet" href="fg-assets/sweetalert2/sweetalert2.min.css">
<script src="fg-assets/sweetalert2/sweetalert2.min.js"></script>
<style>
    .fc-timeline .fc-body .fc-scroller {
        height: 500px !important;
    }
    /*Agenda & Timeline Source event design*/
    .fc-event-container .fc-timeline-event .fc-content:nth-of-type(1),
    .fc-event-container .fc-time-grid-event .fc-content:nth-of-type(1),
    .fc-event-container .fc-day-grid-event .fc-content:nth-of-type(1) {
        margin-top: 0px;
    }

    .fc-event-container .fc-timeline-event .fc-content,
    .fc-event-container .fc-time-grid-event .fc-content,
    .fc-event-container .fc-day-grid-event .fc-content {
        margin-top: 3px;
        margin-bottom: 0px;
        padding: 0px 8px;
    }

        .fc-event-container .fc-timeline-event .fc-content .fc-title,
        .fc-event-container .fc-time-grid-event .fc-content .fc-title,
        .fc-event-container .fc-day-grid-event .fc-content .fc-title {
            font-size: 16px;
            font-family: Arial;
        }

        .fc-event-container .fc-timeline-event .fc-content:nth-last-of-type(1),
        .fc-event-container .fc-time-grid-event .fc-content:nth-last-of-type(1),
        .fc-event-container .fc-day-grid-event .fc-content:nth-last-of-type(1) {
            margin-bottom: 0px;
        }

    .fc th {
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat-bold';
        font-size: 80%;
    }

    .fc button {
        font-family: 'Montserrat';
    }

    .ui-widget .ui-widget, .calendar {
        font-family: 'Montserrat' !important;
    }

    #vertical-resource-view .fc-view-container {
        overflow-x: scroll;
    }


    #vertical-resource-view .fc-view.fc-agendaDay-view.fc-agenda-view {
        width: 100%;
    }
    /* **For 2 day view** */
    #vertical-resource-view .fc-view.fc-agendaTwoDays-view.fc-agenda-view {
        width: 500%;
    }

    #vertical-resource-view .fc-view.fc-agendaThreeDays-view.fc-agenda-view {
        width: 600%;
    }

    #vertical-resource-view .fc-view.fc-agendaWeek-view.fc-agenda-view {
        width: 1500%;
    }
    /*end*/

    .lightbox {
        display: none;
    }

    .popover {
        z-index: 99;
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight {
        border: 1px solid #72c3ec !important;
        background: #e9f3fc url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x !important;
    }

    .fa-sm {
        font-size: 12px;
    }

    .titleContainer,
    .popoverSelect {
        display: flex;
        align-items: center;
    }

    .sidebar ul li a {
        color: #3e246b !important;
    }

    .customTitle {
        background: rgb(255, 255, 255);
        border-color: #aaa;
        padding: 2px;
        border-radius: 5px;
        z-index: 1;
    }

    .btn.btn-outline-success {
        color: #3e246b;
        border: 1px solid #3e246b;
        background-color: transparent;
    }

        .btn.btn-outline-success:hover {
            background-color: #3e246b !important;
            color: #fff;
        }

    .btn-group > .btn-group:not(:first-child) > .btn,
    .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0px;
    }

    .btn-group > .btn-group:not(:last-child) > .btn,
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 0 !important;
    }

    .fc-listYear-view tr.fc-list-item,
    .fc-listMonth-view tr.fc-list-item,
    .fc-listWeek-view tr.fc-list-item,
    .fc-listDay-view tr.fc-list-item {
        background: #e2e2e2 !important;
        margin-bottom: 10px;
        display: flex;
        margin: 3px;
    }

    #list-view table.fc-list-table tr .fc-content {
        margin: 3px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .fc-content.fcTime .fc-content {
        color: #fff;
        padding: 0px 5px;
        margin: 3px 3px 3px;
    }

    .fc-content.fcTime small.time {
        color: #7b7b7b;
    }

    .fc-content.fcTime {
        margin: 7px 0px !important;
    }

    .breadcrumbUi.row {
        /*margin-left: -20px !important;*/
    }

    .custom-br {
        font-size: 14px;
        font-style: italic;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: .2px;
    }

    .course-click {
        transition: all linear .3s;
        cursor: pointer;
    }

        .course-click.right {
            transform: rotate(90deg);
        }



    .modal-dialog-slideout {
        min-height: 100%;
        margin: 0 0 0 auto;
        background: #fff;
    }

    .modal.fade {
        padding-right: 0px !important;
    }

        .modal.fade .modal-dialog.modal-dialog-slideout {
            -webkit-transform: translate(100%,0)scale(1);
            transform: translate(100%,0)scale(1);
        }

        .modal.fade.show .modal-dialog.modal-dialog-slideout {
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
            display: flex;
            align-items: stretch;
            -webkit-box-align: stretch;
            height: 100%;
        }

            .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
                overflow-y: auto;
                overflow-x: hidden;
            }

    .modal-dialog-slideout .modal-content {
        border: 0;
    }

    .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
        /* height: 69px;
        display: block;*/
    }

        .modal-dialog-slideout .modal-header h5 {
            float: left;
        }

    .fc-event-container .fc-timeline-event .fc-content:nth-of-type(1), .fc-event-container .fc-time-grid-event .fc-content:nth-of-type(1), .fc-event-container .fc-day-grid-event .fc-content:nth-of-type(1) {
        display: none;
    }

    #agenda-view .fc-event-container .fc-timeline-event .fc-content .fc-title, #agenda-view .fc-event-container .fc-time-grid-event .fc-content .fc-title,
    #agenda-view .fc-event-container .fc-day-grid-event .fc-content .fc-title {
        font-size: 12px;
    }

    #agenda-view .fc-event-container .fc-timeline-event .fc-content, #agenda-view .fc-event-container .fc-time-grid-event .fc-content,
    #agenda-view .fc-event-container .fc-day-grid-event .fc-content {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px !important;
    }

        #agenda-view .fc-event-container .fc-timeline-event .fc-content, #agenda-view .fc-event-container .fc-time-grid-event .fc-content,
        #agenda-view .fc-event-container .fc-day-grid-event .fc-content .fc-customtime {
            position: absolute;
            right: 1px;
            top: 4px;
            font-size: 12px;
        }

    #vertical-resource-view .fc table {
        table-layout: auto;
    }

    #vertical-resource-view .fc-view > table {
        min-width: 0;
        width: auto;
    }

    #vertical-resource-view .fc-axis {
        min-width: 100px; /*the width of times column*/
        width: 100px; /*the width of times column*/
    }

    #vertical-resource-view .fc-day, .fc-resource-cell, .fc-content-col {
        min-width: 350px;
        width: 100%;
    }

    div#calendar .fc-timeline .fc-body .fc-scroller {
        height: auto !important;
    }

    .modalscrollable {
        overflow-y: auto;
        max-height: 500px;
        min-height: 500px;
    }




    /* Important part */
    /*.modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }*/

    .modalscrollable {
        overflow-y: auto;
        max-height: 500px;
        min-height: 500px;
    }


    /* Important part */
    /*.modal-dialog {
        overflow-y: initial !important
    }
    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }*/
    div#calendar .fc-timeline .fc-body .fc-scroller {
        height: auto !important;
        min-height: 400px;
    }

    .menu-icon_box {
        display: inline-block;
        height: 25px;
        position: relative;
        text-align: left;
        width: 25px;
    }

    .Hideleftmenu {
        padding: 56px 0px 0;
        margin-left: -20px;
        position: relative;
    }

    .queue-wraprgb {
        background-color: #ecfafb;
    }

    @keyframes loader {

        0% {
            width: 0;
        }

        20% {
            width: 10%;
        }

        25% {
            width: 24%;
        }

        43% {
            width: 41%;
        }

        56% {
            width: 50%;
        }

        66% {
            width: 52%;
        }

        71% {
            width: 60%;
        }

        75% {
            width: 76%;
        }

        94% {
            width: 86%;
        }

        100% {
            width: 100%;
        }
    }


    .progress-bar {
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
    }

        .progress-bar span {
            display: block;
        }

    .bar {
        background: white;
    }

    .progress {
        animation: loader 8s ease;
        background: #e2476c;
        height: 5px;
        padding: 0px;
        width: 0;
    }

    .progress-bar {
    }
</style>

<style>
    .session-scroller {
        width: 100%;
        display: flex;
        flex-flow: row;
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }

        .session-scroller .session-element {
            width: fit-content;
            padding: 8px 16px;
            font-size: 13px;
            border-radius: 8px;
            min-height: 55px;
            background: white;
            border: 2px solid #3f91c7;
            color: black;
            min-width: fit-content;
            margin-right: 16px;
            cursor: pointer;
        }

            .session-scroller .session-element.active {
                background: #3f91c7;
                color: white;
            }

            .session-scroller .session-element span {
                font-size: 13px;
                font-weight: bold;
            }
</style>

<style>
    .queue-area {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }

        .queue-area .queue-list-area {
            width: fit-content;
            min-width: 300px;
        }

            .queue-area .queue-list-area.same-row {
                width: fit-content;
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                justify-content: flex-start;
                min-width: 300px;
            }

    .queue-list-area .queue-element {
        min-width: 285px;
        margin: 0px 16px;
    }

    .queue-dashboard-row {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-flow: row wrap;
    }

        .queue-dashboard-row .queue-dashboard-element {
            max-width: 400px;
            width: 100%;
            margin-right: 16px;
            margin-bottom: 16px;
        }

    @media screen and (max-width: 800px) {
        .queue-area .queue-list-area {
            width: fit-content;
            min-width: 270px;
        }

            .queue-area .queue-list-area.same-row {
                width: fit-content;
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                justify-content: flex-start;
                min-width: 270px;
            }

        .queue-list-area .queue-element {
            min-width: 255px;
            margin: 0px 16px;
        }
    }
</style>

<div class="container-fluid" id="quequeDiv">
    <div id="queue_view">
        <div class="queue_top">
            <div class="row">
                <div class="col-md-12">
                    <div class="top_content">
                        <span><button id="queue-summary-nav-btn" class="queue_top_button active">Queue summary</button></span>
                        <span><button id="queue-list-nav-btn" class="queue_top_button">Queues</button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="progress-bar">
                <span class="bar" ng-hide="showLoader1">
                    <span class="progress"></span>
                </span>
            </div>
            <div class="col-md-12">
                <div id="queue-section"  style="display:none;">
                    <div class="row">
                        <!--<div class="col-md-12 mt-1">
                            <div class="session-scroller" id="session-scroller">

                            </div>
                        </div>-->
                        <div class="col-md-12">
                            <div class="heading_queue">
                                <h2><span class="session-name"></span></h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="queue-area" id="queue-area">

                        <div class="queue-list-area queue_backlog">
                            <h4>Backlog (0)</h4>
                            <div id="backlog-list-area">
                                <!--<div class="queue_backlog_inner">
                    <div class="right-border pink-border"></div>
                    <div class="queue-back-log-left">
                        <h2>A07</h2>
                    </div>
                    <div class="queue-back-log-right">
                        <span><img src="/assets/marketplace/image/cat-icon.png" /></span>
                        <span><img src="/assets/marketplace/image/setting-icon.png" /></span>
                    </div>
                </div>-->
                            </div>
                            <!--<div class="waiting">
                <p>Waiting <span>(10)</span></p>
            </div>-->
                        </div>
                        <div class="queue-list-area same-row" id="queue-external-area">
                            <div class="queue-element" ng-repeat="queue in queueList" data-queue-id="{{queue.Id}}">
                                <div class="queue_backlog_second">
                                    <div class="queue_backlog_inner">
                                        <div class="queue-back-log">
                                            <h2>({{queue.QUEUE_PREFIX}}) {{queue.QUEUE_NAME}}</h2>
                                            <div class="view-eye">
                                                <img src="/assets/marketplace/image/eye-open.png" />
                                                <!--<img src="/assets/marketplace/image/eye-slash.png" />-->
                                            </div>
                                            <div class="call-button">
                                                <button>Call</button>
                                            </div>
                                        </div>
                                        <div class="que-wrp-lr">
                                            <div class="queue-back-log-left">
                                                <h3 class="pink"><span>Current</span> <b>--</b></h3>
                                            </div>
                                            <div class="queue-back-log-right">
                                                <input type="checkbox" name="queue-activator-trigger" hidden="hidden" ng-checked="queue.ACCEPT_TICKET == 'Y'" id="queue_activator-{{queue.Id}}">
                                                <label class="switch" for="queue_activator-{{queue.Id}}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="waiting">
                                    <p>Waiting <span>(0)</span></p>
                                </div>
                                <div class="ticket-list-area" data-ticket-type="Waiting">
                                    <div class="queue_backlog_inner" ng-repeat="ticket in queueTicketList" ng-if="ticket.QUEUE_ID == queue.Id">
                                        <div class="right-border pink-border"></div>
                                        <div class="queue-back-log-left">
                                            <h2>A07</h2>
                                        </div>
                                        <div class="queue-back-log-right">
                                            <span><img src="/assets/marketplace/image/cat-icon.png" /></span>
                                            <span><img src="/assets/marketplace/image/setting-icon.png" /></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="waiting">
                                    <p>Pending <span>(0)</span></p>
                                </div>
                                <div class="ticket-list-area" data-ticket-type="Pending">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="queue-summary-section">
                    <div class="queue-dashboard-row">
                        <div class="queue-dashboard-element" ng-repeat="queue in queueList">
                            <div class="queue_backlog_third">
                                <div class="queue_backlog_inner">
                                    <div class="queue-back-log">
                                        <h2>({{queue.QUEUE_PREFIX}}) {{queue.QUEUE_NAME}}</h2>
                                    </div>
                                    <div class="que-wrp-lr">
                                        <div class="queue-back-log-left">
                                            <h3 class="pink"><span>Current</span></br> <b>--</b></h3>
                                        </div>
                                        <div class="summry-text">
                                            <p>Last ticket  <span>--</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <!--<div class="col-md-4">
        <div class="queue_backlog_third">
            <div class="queue_backlog_inner">
                <div class="queue-back-log">
                    <h2>(A) Staff A</h2>
                </div>
                <div class="que-wrp-lr">
                    <div class="queue-back-log-left">
                        <h3 class="pink"><span>Current</span></br> <b>A10</b></h3>
                    </div>
                    <div class="summry-text">
                        <p>Last ticket  <span>A20</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="queue_backlog_third">
            <div class="queue_backlog_inner">
                <div class="queue-back-log">
                    <h2>(A) Staff A</h2>
                </div>
                <div class="que-wrp-lr">
                    <div class="queue-back-log-left">
                        <h3 class="pink"><span>Current</span></br> <b>A10</b></h3>
                    </div>
                    <div class="summry-text">
                        <p>Last ticket  <span>A20</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

            </div>
        </div>


    </div>
</div>
</div>
<div id="searchModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="search-results" class="list-group"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div id="galleryModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div id="tabulatorConfigModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                <h4 class="modal-title">Tabulator Configurations</h4>
            </div>
            <div class="modal-body">
                <div class="alert-area"></div>
                <a class="btn btn-sm btn-success" href=""><i class="fa fa-plus"></i> Create New</a>
                <a href="javascript:;"
                   class="btn btn-sm btn-primary"
                   id="toggle_responsive"></a>
                <a class="btn btn-default btn-sm pull-right"
                   href="javascript:;"
                   id="delete_per_cookie">
                    Default Configuration
                </a>
            </div>
        </div>
    </div>
</div>
<div id="galleryModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="filterModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <div class="col-md-4 form-group search-filter">
                    <input id="search-input"
                           ng-model="nodechildModelSearch"
                           placeholder="search {{filterPopupPlaceHolder.title}}"
                           class="search-input col-md-16 form-control" />
                </div>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <input type="hidden" id="treeIndex" value="" />
                    <div class="col-md-3"
                         ng-repeat="(key,ldata) in lastNodeDataList"
                         ng-if="(ldata|filter:nodechildModelSearch).length>0">
                        <div class="form-group">
                            <h5 ng-if="(ldata|filter:nodechildModelSearch).length>0">
                                <strong>{{key}}</strong>
                            </h5>
                            <div class="checkbox"
                                 ng-repeat="(itemkey,item) in ldata | filter: nodechildModelSearch">
                                <label>
                                    <input type="checkbox"
                                           ng-change="applyCheckBoxesChanges(item,item.checked)"
                                           id="{{itemkey}}"
                                           ng-model="item.checked"
                                           value="" />
                                    {{item.text}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tabulatorModal.html" type="text/ng-template">

    <div id="tabulatorModal">

        <div class="modal-body">
            <input type="hidden" name="formID" />
            <input type="hidden" name="modal-one-to-many" value="0" />
            <input type="hidden" name="tabulator-id" />
            <input type="hidden" name="modal-field-map" />

            <div class="tabulator-section">
                <div id="form-table"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>

        </div>
    </div>
</script>

<script id="addTransactionRecordTabulatorModal.html" type="text/ng-template">

    <div class="row" id="addTransactionRecordTabulatorModal">

        <div class="col-sm-12 modalscrollable">
            <input type="hidden" name="formID" />
            <input type="hidden" name="modal-one-to-many" value="0" />
            <input type="hidden" name="tabulator-id" />
            <input type="hidden" name="modal-field-map" />
            <div class="col-md-12">
                <!--<span ng-repeat="v in selectedRecords">{{v.value}}</span>-->
                <div class="input-group">

                    <!--<input type="text"  name="selectedrec" class="form-control"
                    ng-model="selectedRecords" style="color:green"/>-->
                    <!--<textarea name='selectedrec' placeholder='Selected entries'>{{selectedRecords}}</textarea>-->
                    <!--<input type="text" name='selectedrec' ng-value="selectedRecords" readonly />-->
                    <input type="text" name='selectedrec' style="background-color:rgb(165 139 241 / 0.41)" placeholder="Type here..." />
                </div>
            </div>


            c
            <div class="tabulator-section">
                <div id="form-tableStudent"></div>
                </
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="get-tabulator-valuescalender" data-bs-dismiss="modal">Save changes</button>
        </div>
    </div>

</script>


<div class="modal fade right" id="createCustomEventDetailsModelPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{translation.Create_New_Event}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="event-detail div-flex">
                    <div class="div-flex">
                        <div class="title" ng-show="IS_EXIST_PRE_DEFINED_ACTIVITIES">
                            <!--<label class="pr-2">

                                {{createEventDetails.description}}
                            </label>-->
                            re
                            <div class="temp" ng-repeat="d in createEventDetails.dropdownList">
                                tD
                                <span class="titleContainer">
                                    <span class="title1"> {{d.formTitle}}</span>

                                </span>
                                <div class="popoverSelect">
                                    er
                                    <select class="form-control serchselectChossen form-control-sm w-50" data-placeholder="Choose a Option..." data-id="dropdwn_{{d.formId}}" ng-init="d.selectionDropdown=d.Id" ng-model="d.selectionDropdown">
                                        <option value=""></option>
                                        <option value="{{dform.id}}" ng-repeat="dform in d.dropdownListData.formDataList|orderBy:d.dropdownListData.activities">{{dform[d.dropdownListData.activities]}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="temp" style="display:none">
                                <span class="titleContainer">
                                    <span class="title1"> {{ otherformDetails.title}}</span>
                                </span>
                                <div ng-show="formDetailsDataInfo.otherformid!=0" class="popoverSelect">

                                    <select class="form-control serchselectChossen form-control-sm w-50" id="otherformDropDwn" ng-model="otherformSelectionDropdown">
                                        <option value="{{dform.Id}}" ng-repeat="dform in OtherFormDrpDwnList|orderBy:OtherFormOrderByFieldname">{{dform[OtherFormOrderByFieldname]}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div ng-show="!IS_EXIST_PRE_DEFINED_ACTIVITIES">
                            <div class="form-group">
                                <label>Activity Name</label>
                                <input type="text" class="form-control" ng-model="createEventDetails.activityTitle" placeholder="Activity Name" />
                            </div>
                        </div>


                        <div class="{{createEventDetails.customDate}}">{{createEventDetails.customDate}}</div>
                        <div>{{createEventDetails.customTime}}</div>



                        <input value="{{createEventDetails.Id}}" id="createnewtag-inputHidden" type="hidden">


                        <!--<input id="newtag-inputnew" type="text" value="{{createEventDetails.tags}}" placeholder="Add tags">-->

                        <div ng-repeat="tag in totalSelectListTagify">
                            <input value="{{createEventDetails[tag.name]}}" id="createnewtag-inputHidden{{tag.name}}" type="hidden">
                            <input id="createnewtag-input{{tag.name}}" type="text" value="{{createEventDetails[tag.name]}}" placeholder="Add tags">
                        </div>
                        <input type="text" class="form-control" ng-model="createEventDetails.description" placeholder="Description" />



                    </div>
                    <button type="button" class="btn btn-primary" ng-click="createNewEvent()" ng-show="IS_EXIST_PRE_DEFINED_ACTIVITIES">Create Event</button>
                    <button type="button" class="btn btn-primary" ng-click="createNewEventWithoutPredefinedActivity()" ng-show="!IS_EXIST_PRE_DEFINED_ACTIVITIES">Create Event</button>
                </div>

                <!--<div class="div-flex div-list-bar"></div>-->
                <!--<div class="div-flex div-list">
                    <div class="d-flex justify-content-between align-items-center p-0">
                        <h5 class="list-title mb-0" id="newtabuList"><strong id="strongFormName">0 Student in this Slot</strong></h5>
                        <div class="d-block">
                            <div id="newaddTransactionRecord" class="edit-event-student cursor-pointer d-inline-block"><i class="fa fa-plus"></i></div> <div id="newtabuListLink" class="edit-event-student mr-0 ml-1 cursor-pointer d-inline-block" title="Edit"><i class="fa fa-pencil"></i></div>
                        </div>
                    </div>
                    <ul id="newtabuListUl">
                    </ul>
                    <label id="labelWaiting"></label>
                    <ul id="newtabuListUlWaiting">
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</div>


<div class="modal fade right" id="customEventDetailsModelPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Event Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="event-detail div-flex">
                    <div class="div-flex">
                        <div class="title">
                            <label class="pr-2">
                                {{selectEventDetails.description}}
                            </label>
                            <div class="temp" ng-repeat="d in selectEventDetails.dropdownList">
                                <span class="titleContainer">
                                    <span ng-class="{'text-muted': d.customClass == 'true' , 'title1': d.customClass == 'false'}"> {{d.formTitle}}</span>
                                    <i ng-if="d.customClass== 'false'" class="fa fa-pencil editTitle ml-2 cursor-pointer fa-sm"></i>
                                    <i ng-if="d.customClass== 'false'" class="fa fa-trash deleteTitle ml-2 cursor-pointer fa-sm" ng-click="deleteDimensionClick(selectEventDetails,d,$event);"></i>
                                    <i ng-if="d.customClass== 'true'" class="fa fa-plus editTitle ml-2 cursor-pointer fa-sm"></i>
                                </span>
                                <div class="d-none popoverSelect">
                                    <select class="form-control form-control-sm w-50 selectCustom" ng-init="d.selectionDropdown=d.Id" ng-model="d.selectionDropdown"
                                            ng-change="updateDimensionCalenderEventClick(d,d.selectionDropdown,selectEventDetails,$this);">
                                        <option value="{{dform.id}}" ng-repeat="dform in d.dropdownListData.formDataList">{{dform[d.dropdownListData.activities]}}</option>
                                    </select>
                                    <i class="fa fa-times closeSelect cursor-pointer ml-2 fa-sm"></i>
                                </div>
                            </div>


                        </div>


                        <div ng-if="!selectEventDetails.allDay" class="{{selectEventDetails.customDate}}">{{selectEventDetails.customDate}}</div>
                        <div ng-if="!selectEventDetails.allDay">{{selectEventDetails.customTime}}</div>

                        <div ng-if="selectEventDetails.allDay" class="{{selectEventDetails.customDate}}">{{selectEventDetails.customDate}}</div>

                        <input value="{{selectEventDetails.Id}}" id="newtag-inputHidden" type="hidden">



                        <div ng-repeat="tag in totalSelectListTagify">
                            <input value="{{selectEventDetails[tag.name]}}" id="newtag-inputHidden{{tag.name}}" type="hidden">
                            <input value="{{tag.name}}" id="newtag-inputHidden{{selectEventDetails.Id}}" type="hidden">
                            <input id="newtag-input{{tag.name}}" type="text" value="{{selectEventDetails[tag.name]}}" placeholder="Add tags">
                        </div>

                    </div>
                </div>
                <div class="btn-box d-flex">
                    <div id="eventCopy" class="mr-10 cursor-pointer" data-formid="{{selectEventDetails.formID}}" data-formgroupkey="{{selectEventDetails.formGroupKey}}" data-eventid="{{selectEventDetails.Id}}"><a> <i class="fa fa-copy"></i></a></div><div id="eventEdit" class="mr-10 cursor-pointer" data-formid="{{selectEventDetails.formID}}" data-formgroupkey="{{selectEventDetails.formGroupKey}}" data-eventid="{{selectEventDetails.Id}}"><a> <i class="fa fa-pencil"></i></a></div><div id="eventDelete" data-formid="{{selectEventDetails.formID}}" data-formgroupkey="{{selectEventDetails.formGroupKey}}" data-eventid="{{selectEventDetails.Id}}" class="delete-event cursor-pointer"><i class="fa fa-trash"></i></div>
                    <!--<a class="btn close-event cursor-pointer" title="close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i></a>-->
                </div>
                <div class="div-flex div-list-bar"></div>
                <div class="div-flex div-list">
                    <div class="d-flex justify-content-between align-items-center p-0">
                        <h5 class="list-title mb-0" id="newtabuList"><strong id="strongFormName">0 Student in this Slot</strong></h5>
                        <div class="d-block">
                            <div id="newaddTransactionRecord" class="edit-event-student cursor-pointer d-inline-block"><i class="fa fa-plus"></i></div> <div id="newtabuListLink" class="edit-event-student mr-0 ml-1 cursor-pointer d-inline-block" title="Edit"><i class="fa fa-pencil"></i></div>
                        </div>
                    </div>
                    <ol id="newtabuListUl">
                    </ol>
                    <label id="labelWaiting"></label>
                    <ul id="newtabuListUlWaiting">
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
    </div>
</div>

<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>
<script>
    $(document).ready(function () {
        // $('.selectCustom').selectpicker({ liveSearch: true, container: 'body' }); $('.selectCustom').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) { $('.selectCustom').selectpicker('refresh') });

        /*$(".serchselectChossen").chosen();*/
        $('.course-click').on('click', function () {
            $('.toggle-course-master').slideToggle("slow");
            $(this).toggleClass('right');
        })
        $("#xAxis").on("change", function () {
            //console.log("eee");
            setTimeout(function () {
                $(".external-events-list .fc-event").each(function () {
                    // store data so the calendar knows to render an event upon drop
                    $(this).data("event", {
                        title: $.trim($(this).text()), // use the element's text as the event title
                        color: $.trim($(this).data("color")),
                        duration: $.trim($(this).data("duration")),
                        stick: false, // maintain when user navigates (see docs on the renderEvent method)
                        id: $.trim($(this).data("id")),
                        formid: $.trim($(this).data("formid")),
                        activityfield: $.trim($(this).data("activityfield")),
                        colorfield: $.trim($(this).data("colorfield")),
                        categoryfield: $.trim($(this).data("categoryfield")),
                        servicefield: $.trim($(this).data("servicefield")),
                        dropin: $.trim($(this).data("dropin")),
                        dimensiontype: $.trim($(this).data("dimensiontype")),
                        groupingvaluesact: $.trim(
                            $(this).data("groupingvaluesact")
                        ),
                        groupingfieldsres: $.trim(
                            $(this).data("groupingfieldsres")
                        ),
                    });
                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 999,
                        revert: true, // will cause the event to go back to its
                        containment: ".table-responsive",
                        scroll: true,
                        revertDuration: 0, //  original position after the drag
                    });
                });
            }, 1000);
        });
    });

    //function HideSiseMenu() {

    //    if ($('.sidebar').is(":hidden")) {
    //        $(".sidebar").show();
    //        $("#sidebarStrip_menu").show();
    //        $('.showSection').removeClass('Hideleftmenu').addClass('contentsection');
    //        $('#Hide_menu_Icon').removeClass('fa-arrow-right').addClass('fa-arrow-left');
    //    }
    //    else {
    //        $(".sidebar").hide();
    //        $("#sidebarStrip_menu").hide();
    //        $('.showSection').removeClass('contentsection').addClass('Hideleftmenu');
    //        $('#Hide_menu_Icon').removeClass('fa-arrow-left').addClass('fa-arrow-right');
    //    }
    //}
</script>

<script>

    $("#nav-calendar-master").addClass("active");

</script>