<link href="fg-assets/lightbox/css/lightbox.css" rel="stylesheet" />
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>

<script src="fg-assets/fullcalendar/dist/fullcalendar.min.js"></script>
<link href="fg-assets/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/scheduler.min.css"
      rel="stylesheet" />
<script src="fg-assets/js/jquery-ui.js"></script>

<link href="fg-assets/css/jquery-ui.css" rel="stylesheet" />
<link href="fg-assets/css/jquery.jgrowl.min.css" rel="stylesheet" />
<script src="fg-assets/js/jquery.jgrowl.min.js"></script>
<script src="fg-assets/js/moment.js"></script>

<style>
    /*    nav[aria-label="breadcrumb"] {
        position: absolute;
        top: -40px;
    }*/

    p.step {
        font-weight: 700;
        font-size: 24px;
        color: black;
        margin-bottom: 0.5rem !important;
    }

    .w-60p {
        width: 60px;
        min-width: 60px;
    }

    .lightbox {
        display: none;
    }

    .upload-file-btn {
        position: relative;
        overflow: hidden;
    }

        .upload-file-btn input {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

    .chatboot__form {
        background: #fff;
        border: 1px solid #ddd;
        padding: 5px 0 0 0;
    }

    .custom_row_margin {
        margin-left: -15px;
        margin-right: -15px;
    }

    .btnalign > div {
        display: inline-block;
    }

    .btn-group > .btn-group:not(:first-child) > .btn,
    .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0px;
    }

    .btn-group > .btn-group:not(:last-child) > .btn,
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 0 !important;
    }

    .btn.btn-outline-success {
        color: #3e246b;
        border: 1px solid #3e246b;
        background-color: transparent;
    }

        .btn.btn-outline-success:hover {
            background-color: #3e246b !important;
            color: #fff;
        }

    .custom-chat-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(62 36 107);
        /* color: #fff !important; */
        position: fixed;
        right: 50px;
        bottom: 11px;
        z-index: 1;
        box-shadow: 0px 0px 15px rgba(62, 36, 107, 0.35) !important;
        background-color: #bcb3cc;
        color: #3e246b !important;
        cursor: pointer;
    }

    body .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }

    body .chatPopup .card .chatListContainer {
        white-space: normal;
        word-break: break-word;
    }

    .custom-br {
        font-size: 14px;
        font-style: italic;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.2px;
    }

    .schedular-form .col-md-4, .col-md-12 {
        padding-top: 32px;
    }

    .schedular-form label {
        font-weight: bold;
        padding-bottom: 8px;
    }

    .schedular-form .schedular-table thead {
        border-bottom: 1px solid lightgrey;
    }

        .schedular-form .schedular-table thead tr td {
            font-weight: bold;
            text-align: center;
            padding: 8px;
        }

    .schedular-form .schedular-table tbody tr td:first-child {
        font-weight: bold;
        padding: 8px;
        border-right: 1px solid lightgrey;
        text-align: center;
    }

    .schedular-form .schedular-table tbody tr td {
        padding: 8px;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row mt-125rem">
        <div class="col-md-2">
            <div class="img-col mt-125rem">
                <img src="/assets/marketplace/image/serv.png" />
            </div>
        </div>
        <div class="col-md-10">
            <div class="booking_queue">
                <div class="booking_queue_number">
                    <div class="number_of_queue">
                        <div class="quewe_set">
                            <label for="number_of_queue"><b style="color:#000;">Number of queue*</b></label>
                            <select id="exampleFormControlSelect1" class="form-control">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="queue_message"></div>
                    </div>

                    <div class="booking_queue_table">
                        <table class="booking-queue-table" id="booking-queue-table">
                            <thead>
                                <tr>
                                    <th width="200px">Name of the queue</th>
                                    <th width="200px">Queue abbreviation(s)*</th>
                                    <th width="130px">Start number*</th>
                                    <th width="130px">End number*</th>
                                    <th>Reset number*</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-125rem" style="margin-top: 32px;">
        <div class="col-md-2">
            <div class="img-col mt-125rem">
                <img src="/assets/marketplace/image/serv.png" />
            </div>
        </div>
        <div class="col-md-10">
            <div class="booking_queue">
                <div class="booking_queue_number">
                    <div class="number_of_queue">
                        <div class="quewe_set">
                            <label for="number_of_queue"><b style="color:#000;">Number of queuing session</b><br />(eg. breakfast, lunch, afternoon tea, dinner)</label>
                            <select id="exampleFormControlSelect2" class="form-control">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="queue_message"></div>
                    </div>

                    <div class="booking_queue_table">
                        <table class="booking-queue-table" id="booking-session-table">
                            <thead>
                                <tr>
                                    <th width="200px">Session name*</th>
                                    <th width="150px">Start time*</th>
                                    <th width="150px">End time*</th>
                                    <th>Start ticketing*</th>
                                    <th width="150px">Queue open time</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-button mt-4rem">
        <button class="pink-button right" ng-click="AddQueueSession()">Update calendar</button>
    </div>
    <div class="blocks"></div>
</div>


<script>

    function setSameTime() {
        $("#Tuesday_Start_Time").val($("#Monday_Start_Time").val());
        $("#Tuesday_End_Time").val($("#Monday_End_Time").val());

        $("#Wednesday_Start_Time").val($("#Monday_Start_Time").val());
        $("#Wednesday_End_Time").val($("#Monday_End_Time").val());

        $("#Thursday_Start_Time").val($("#Monday_Start_Time").val());
        $("#Thursday_End_Time").val($("#Monday_End_Time").val());

        $("#Friday_Start_Time").val($("#Monday_Start_Time").val());
        $("#Friday_End_Time").val($("#Monday_End_Time").val());

        $("#Saturday_Start_Time").val($("#Monday_Start_Time").val());
        $("#Saturday_End_Time").val($("#Monday_End_Time").val());

        $("#Sunday_Start_Time").val($("#Monday_Start_Time").val());
        $("#Sunday_End_Time").val($("#Monday_End_Time").val());
    }

    function setSameDateValue() {

        if ($("input[name=TimeSameAsMonday]:checked").val() == "on") {
            setSameTime();
        }
    }
</script>

<script type="text/ng-template" id="importFormData.html">

    <div class="jss3726" ng-include="'bg-svg.html'"></div>

    <form id="import-csv-form" class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4" for="fileType">{{translation.File_Type}}:</label>
                <div class="col-sm-8">
                    <label class="me-10"><input type="radio" ng-model="importDataFileParam.fileType" name="fileType" value="csv" checked="checked"> *.csv</label>
                    <!--<label><input type="radio" name="fileType" ng-model="importDataFileParam.fileType" value="xlsx"> *.xlsx /*.xls</label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="fileType">{{translation.Action}}:</label>
                <div class="col-sm-8">

                    <label class="me-10"><input type="radio" name="typeOfAction" ng-model="importDataFileParam.typeOfAction" value="Append" checked="checked"> Append</label>
                    <label class="me-10"><input type="radio" name="typeOfAction" ng-model="importDataFileParam.typeOfAction" value="Overwrite" checked="checked"> Overwrite</label>
                    <!--<label><input type="radio" ng-model="importDataFileParam.typeOfAction" name="typeOfAction" value="Overwrite"> Overwrite</label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="formName">{{translation.Select_CSV_file_to_import}}:</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" ng-model="importDataFileParam.fileData" name="csvFile" id="csvFile">

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="importDataFile()">{{translation.Upload}}</a>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
    </form>



</script>






<script type="text/ng-template" id="formImportModal.html">
    <div class="jss3726" ng-include="'bg-svg.html'"></div>
    <form id="import-form-fields" class="form-horizontal" autocomplete="off">
        <div class="modal-body">
            <!--                            <div class="form-group">
                                            <label class="col-sm-4" for="fileType">File Type:</label>
                                            <div class="col-sm-8">
                                                <label class="me-10"><input type="radio" name="fileType" value="csv" checked="checked"> *.csv</label>
                                                <label><input type="radio" name="fileType" value="xlsx"> *.xlsx /*.xls</label>
                                            </div>
                                        </div>-->
            <div class="form-group">
                <label class="control-label col-sm-4" for="sourceformName">{{translation.Enter_form_name_to_import}}:</label>
                <div class="col-sm-8">
                    <div class="easy-autocomplete eac-description" style="width: 100px;">
                        <input type="text" class="form-control" name="sourceformName" id="sourceformName" autocomplete="off">

                    </div>
                </div>
            </div>
            <input type="hidden" class="form-control" name="sourceformID" id="sourceformID">
        </div>
        <div class="modal-footer">
            <input type="hidden" name="formID" value="1914">
            <button type="submit" class="btn btn-primary" ng-click="importDataFromFormSave()">{{translation.Enter_form_name_to_import}}</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">{{translation.Cancel}}</button>
        </div>
        <input type="hidden" name="_token" value="4Rfj3s4hRruEjsEU3EnEKgS0lRddPPqiwQQ2eemR">
    </form>
</script>




<script type="text/ng-template" id="customModal.html">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group mb-0 text-center">
                    <div class="col col-sm-12">
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteMessageClick(1)">Delete For Me</button> &nbsp;
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteMessageClick(2)">Delete For Everyone</button> &nbsp;
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="privateAlert.html">
    <div class="prompt" style="top: 195.299px; left: 44.3001px;">
        <div class="prompt-header form-group row">
            <div class="col-auto">
                Invite
            </div>
            <div class="col">
                <input type="text" ng-model="invitedPerson.name" class="form-control" />
            </div>
            <div class="col">
                to Private Chat ?
            </div>
        </div>
        <!-- <div class="prompt-body clearfix">
            <div class="aligncenter clearfix">
                <p class="clearfix">
                </p>
            </div>
        </div> -->
        <div class="modal-footer pb-0">
            <button type="button" id="btnInvite" data-dismiss="modal" class="btn btn-primary" ng-click="inviteToChat(invitedPerson)">Invite</button>
            <button data-toggle="decline" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="EditcustomModal.html">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group text-center">
                    <div class="col col-sm-12 mb-2">
                        <textarea class="form-control" ng-model="editMessageData.message"> </textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary me-0" data-dismiss="modal" ng-click="editMessageSave()">Update</button> &nbsp;
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="AlertStatus.html">
    <div class="prompt" style="top: 195.299px; left: 44.3001px;">
        <div class="prompt-header">
            <div ng-if="roomInvitationDetails.isInvitationA_R==1">Accepted</div>
            <div ng-if="roomInvitationDetails.isInvitationA_R==2">Declined</div>
        </div>
        <div class="prompt-header">
            <input type="text" ng-model="roomInvitationDetails.receiver" />
            <div ng-if="roomInvitationDetails.isInvitationA_R==1">Accepted</div>
            <div ng-if="roomInvitationDetails.isInvitationA_R==2">Declined</div>
            your Invitation.
        </div>
        <div class="prompt-footer"></div>
    </div>
</script>
<script type="text/ng-template" id="AccessDenied.html">
    <div class="row">
        <div class="col-sm-12">
            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: block;">
                <span class="swal2-x-mark swal2-animate-x-mark">
                    <span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span>
                </span>
            </div>
            <div class="swal2-contentwrapper">
                <h5 class="swal2-title" id="swal2-title">Form Entry</h5>
                <div id="swal2-content" class="swal2-content" style="display: block;">
                    You are not allowed to do this operation. Form Based Roles
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript"
        src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>

<script>

    $("#nav-schedular-form").addClass("active");
    $("#nav-manage-master").addClass("active");

</script>