<link href="fg-assets/lightbox/css/lightbox.css" rel="stylesheet" />
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>

<script src="fg-assets/fullcalendar/dist/fullcalendar.min.js"></script>
<link href="fg-assets/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/scheduler.min.css"
      rel="stylesheet" />
<script src="fg-assets/js/jquery-ui.js"></script>

<link href="fg-assets/css/jquery-ui.css" rel="stylesheet" />
<link href="fg-assets/css/jquery.jgrowl.min.css" rel="stylesheet" />
<script src="fg-assets/js/jquery.jgrowl.min.js"></script>
<script src="fg-assets/js/moment.js"></script>

<style>
    /*    nav[aria-label="breadcrumb"] {
        position: absolute;
        top: -40px;
    }*/

    .w-60p {
        width: 60px;
        min-width: 60px;
    }

    .lightbox {
        display: none;
    }

    .upload-file-btn {
        position: relative;
        overflow: hidden;
    }

        .upload-file-btn input {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

    .chatboot__form {
        background: #fff;
        border: 1px solid #ddd;
        padding: 5px 0 0 0;
    }

    .custom_row_margin {
        margin-left: -15px;
        margin-right: -15px;
    }

    .btnalign > div {
        display: inline-block;
    }

    .btn-group > .btn-group:not(:first-child) > .btn,
    .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0px;
    }

    .btn-group > .btn-group:not(:last-child) > .btn,
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 0 !important;
    }

    .btn.btn-outline-success {
        color: #3e246b;
        border: 1px solid #3e246b;
        background-color: transparent;
    }

        .btn.btn-outline-success:hover {
            background-color: #3e246b !important;
            color: #fff;
        }

    .custom-chat-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(62 36 107);
        /* color: #fff !important; */
        position: fixed;
        right: 50px;
        bottom: 11px;
        z-index: 1;
        box-shadow: 0px 0px 15px rgba(62, 36, 107, 0.35) !important;
        background-color: #bcb3cc;
        color: #3e246b !important;
        cursor: pointer;
    }

    body .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }

    body .chatPopup .card .chatListContainer {
        white-space: normal;
        word-break: break-word;
    }

    .custom-br {
        font-size: 14px;
        font-style: italic;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.2px;
    }

    .schedular-form label {
        font-weight: bold;
        padding-bottom: 8px;
    }

    .schedular-title {
        font-size: 32px;
        font-weight: bold;
    }

    .schedular-title-2 {
        font-size: 25px;
        font-weight: bold;
    }



    .schedular-table {
        width: fit-content;
        min-width: 100%;
        display: block;
    }

        .schedular-table .schedular-row {
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid lightgrey;
        }

            .schedular-table .schedular-row .schedular-element:nth-child(1) {
                min-width: 80px;
            }


            .schedular-table .schedular-row .form-elements {
                display: flex;
                flex-flow: row wrap;
            }

            .schedular-table .schedular-row .schedular-element {
                padding: 16px;
                display: flex;
                align-items: center;
            }

                .schedular-table .schedular-row .schedular-element.header {
                    font-weight: bold;
                }

                .schedular-table .schedular-row .schedular-element.form-element {
                    display: flex;
                    justify-content: space-evenly;
                }

                .schedular-table .schedular-row .schedular-element.form-element {
                    border-left: 1px solid lightgrey;
                }

                    .schedular-table .schedular-row .schedular-element.form-element.error input[type=time] {
                        border: 1px solid crimson;
                    }

                .schedular-table .schedular-row .schedular-element.add-element button {
                    background: white;
                    border: 1px solid #8171B0;
                    color: #8171B0;
                    border-radius: 40px;
                    font-size: smaller;
                    padding: 6px 12px;
                    min-width: 100px;
                }

            .schedular-table .schedular-row .form-element .delete-element button {
                background: white;
                border: 1px solid #8171B0;
                color: #8171B0;
                border-radius: 40px;
                font-size: smaller;
                padding: 6px 12px;
                margin-left: 12px;
            }

            .schedular-table .schedular-row:first-child .form-element .delete-element button {
                background: white;
                border: 1px solid #8171B0;
                color: #8171B0;
                border-radius: 40px;
                font-size: smaller;
                padding: 6px 12px;
                margin-left: 12px;
                position: relative;
                top: 10px;
            }




            .schedular-table .schedular-row:nth-child(1) .schedular-element.add-element {
                position: relative;
                top: 10px;
            }

            /*.schedular-table .schedular-row:nth-child(1) .form-elements .schedular-element.form-element:not(:first-child) div {
                position: relative;
                top: 10px;
            }*/

            .schedular-table .schedular-row:nth-child(1) .form-elements .schedular-element.form-element div:nth-child(2) {
                position: relative;
                top: 10px;
            }

            .schedular-table .schedular-row .schedular-element.form-element div:nth-child(2) {
                padding: 0px 16px;
            }

    .form-control.disabled {
        background-color: #ebebeb !important;
    }

    .invalid-feedback-3 {
        color: red !important;
        margin-bottom: 11px;
        display: none;
    }

    .schedular-form .col-md-4 {
        margin-top: 1.1rem;
    }

    .text-helper {
        padding: 8px 0px;
        font-weight: bold;
        margin-bottom: -12px;
    }
</style>
<div class="container-fluid">
    <div class="page-header mt-2">
        <div class="row align-items-end">
            <div class="col-sm mb-2 mb-sm-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-no-gutter">
                        <li class="breadcrumb-item"><a class="breadcrumb-link lbl-company-name" ui-sref="Home()"></a></li>
                        <li class="breadcrumb-item active lbl-calendar-name" aria-current="page"></li>
                        <li class="breadcrumb-item active" aria-current="page">Schedular</li>
                    </ol>
                </nav>



            </div>
            <!-- End Col -->
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <h1 class="schedular-title mt-4">Schedular Form</h1>
    <div class="" id="schedular-form-section" ng-show="isQueue == 0">
        <div class="text-helper" id="sub-heading-helper">

        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="myForm" class="schedular-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div><label>Course / {{translation.Service}}</label></div>
                            <select class="form-control" id="SCH_ACTIVITY" onchange="angular.element(this).scope().GetSingleService()">
                                <option selected value="-1">Select Service</option>
                                <option value="{{l.Id}}" ng-repeat="l in serviceList">{{l.ACTIVITY_NAME}}</option>
                            </select>
                            <div>
                                <div class="invalid-feedback-3" id="SCH_ACTIVITY_ERROR">
                                    Please select an activity
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div><label>{{translation.Location}}</label></div>
                            <select class="form-control" id="SCH_LOCATION">
                                <option value="{{l.Id}}" ng-repeat="l in locationList">{{l.LOCATION_ADDRESS}}</option>
                            </select>
                            <div>
                                <div class="invalid-feedback-3" id="SCH_LOCATION_ERROR">
                                    Please select a location
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" id="staff-ddl-area">
                            <div><label>Staff</label></div>
                            <select class="form-control" id="SCH_RESOURCE">
                                <option value="{{l.Id}}" ng-repeat="l in serviceProviderList">{{l.FIRST_NAME}} {{l.LAST_NAME}}</option>
                            </select>
                            <div>
                                <div class="invalid-feedback-3" id="SCH_RESOURCE_ERROR">
                                    Please select a resource
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 hide-for-superadmin">
                            <div><label>Fill Schedule {{translation.From}}</label></div>
                            <input type="date" id="SCH_FROM_DATE" class="js-flatpickr form-control flatpickr-custom" data-hs-flatpickr-options='{ "dateFormat": "d/m/Y" }' placeholder="select from date" />
                            <div>
                                <div class="invalid-feedback-3" id="SCH_FROM_DATE_ERROR">
                                    Please choose a start date
                                </div>
                            </div>

                        </div>


                        <div class="col-md-4 hide-for-superadmin">
                            <div>
                                <label>{{translation.To}}</label>
                            </div>

                            <input type="date" id="SCH_TO_DATE" class="js-flatpickr form-control flatpickr-custom" data-hs-flatpickr-options='{ "dateFormat": "d/m/Y" }' placeholder="select to date" />
                            <div>
                                <div class="invalid-feedback-3" id="SCH_TO_DATE_ERROR">
                                    Please choose an end date
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div><label>Alternative week</label></div>
                            <select class="form-control" id="SCH_ALTERNATE_WEEK">
                                <option value="EVERY-WEEK" selected>{{translation.Every_Week}}</option>
                                <option value="ALTERNATE-WEEK">{{translation.Alternate_Week}}</option>
                                <option value="EVERY-3-WEEK">{{translation.Every_3_Week}}</option>
                                <option value="EVERY-4-WEEK">{{translation.Every_4_Week}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="schedular-title-2 mt-5" id="schedule-name-helper">Class schedule</h1>
                        </div>
                        <div class="col-md-12">
                            <p class="mt-5">Copy slots <input type="checkbox" id="copy_slots_cheb" ng-click="copyslots()" /> </p>
                        </div>
                        <div class="invalid-feedback-3" id="SCH_SLOT_ERROR">
                            Please fill slot timings
                        </div>
                        <div class="col-md-12">
                            <div class="schedular-table">
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Mon
                                    </div>
                                    <div class="form-elements" id="elements-row-Mon">

                                    </div>

                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Mon')">+ ADD MORE</button>
                                    </div>
                                </div>
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Tue
                                    </div>
                                    <div class="form-elements" id="elements-row-Tue">

                                    </div>


                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Tue')">+ ADD MORE</button>
                                    </div>
                                </div>
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Wed
                                    </div>
                                    <div class="form-elements" id="elements-row-Wed">

                                    </div>


                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Wed')">+ ADD MORE</button>
                                    </div>
                                </div>
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Thu
                                    </div>
                                    <div class="form-elements" id="elements-row-Thu">

                                    </div>


                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Thu')">+ ADD MORE</button>
                                    </div>
                                </div>
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Fri
                                    </div>
                                    <div class="form-elements" id="elements-row-Fri">

                                    </div>


                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Fri')">+ ADD MORE</button>
                                    </div>
                                </div>
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Sat
                                    </div>
                                    <div class="form-elements" id="elements-row-Sat">

                                    </div>

                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Sat')">+ ADD MORE</button>
                                    </div>
                                </div>
                                <div class="schedular-row">
                                    <div class="schedular-element header">
                                        Sun
                                    </div>
                                    <div class="form-elements" id="elements-row-Sun">

                                    </div>

                                    <div class="schedular-element add-element">
                                        <button class="btn btn-primary" ng-click="addFormElement('Sun')">+ ADD MORE</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" id="duration-area">
                            <div class="col-md-12 mt-3">
                                <div class="text-helper" id="duration-helper">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label>Duration for each session (minute)</label>
                                </div>

                                <input type="number" id="SCH_SESSION_DURATION" value="{{serviceDetails.DURATION_FIELD}}" class="form-control disabled" disabled />
                                <div>
                                    <div class="invalid-feedback-3" id="SCH_TO_DATE_ERROR">
                                        Please choose an end date
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12">
                                    <div>
                                        <label>Rest period between session (minute)</label>
                                    </div>

                                    <input type="number" id="SCH_REST_PERIOD" class="form-control disabled" value="{{serviceDetails.REST_PERIOD_BETWEEN_SESSION}}" disabled />
                                    <div>
                                        <div class="invalid-feedback-3" id="SCH_DAYS_ERROR">
                                            Please enter no. of days to be scheduled
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div><label>Capacity (No. of maximum participants)</label></div>
                                <input type="number" id="SCH_CAPACITY" class="form-control" placeholder="5" />
                                <div>
                                    <div class="invalid-feedback-3" id="SCH_DAYS_ERROR">
                                        Please enter no. of days to be scheduled
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 mt-5 mb-5">
                            <button class="btn btn-default" ng-click="hideSchedularFormModal()">{{translation.Cancel}}</button> <button class="btn btn-success" id="final-submit-button" ng-click="saveSchedularForm()">{{translation.Submit}}</button> <button class="btn btn-success" style="display:none;" id="final-save-button" ng-click="saveSchedularForm()">{{translation.Save}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="queue-schedular-form-section" ng-show="isQueue == 1">
        <div class="row mt-125rem">
            <div class="col-md-2">
                <div class="img-col mt-125rem">
                    <img src="/assets/marketplace/image/serv.png" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="booking_queue">
                    <div class="booking_queue_number">
                        <div class="number_of_queue">
                            <div class="quewe_set">
                                <label for="number_of_queue"><b style="color:#000;">Number of queue*</b></label>
                                <select id="exampleFormControlSelect1" class="form-control">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="queue_message"></div>
                        </div>

                        <div class="booking_queue_table">
                            <table class="booking-queue-table" id="booking-queue-table">
                                <thead>
                                    <tr>
                                        <th width="200px">Name of the queue</th>
                                        <th width="200px">Queue abbreviation(s)*</th>
                                        <th width="130px">Start number*</th>
                                        <th width="130px">End number*</th>
                                        <th>Reset number*</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-125rem" style="margin-top: 32px;">
            <div class="col-md-2">
                <div class="img-col mt-125rem">
                    <img src="/assets/marketplace/image/serv.png" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="booking_queue">
                    <div class="booking_queue_number">
                        <div class="number_of_queue">
                            <div class="quewe_set">
                                <label for="number_of_queue"><b style="color:#000;">Number of queuing session</b><br />(eg. breakfast, lunch, afternoon tea, dinner)</label>
                                <select id="exampleFormControlSelect2" class="form-control">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="queue_message"></div>
                        </div>

                        <div class="booking_queue_table">
                            <table class="booking-queue-table" id="booking-session-table">
                                <thead>
                                    <tr>
                                        <th width="200px">Session name*</th>
                                        <th width="150px">Start time*</th>
                                        <th width="150px">End time*</th>
                                        <th>Start ticketing*</th>
                                        <th width="150px">Queue open time</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-button mt-4rem">
            <button class="pink-button right" ng-click="AddQueueSession()">Update calendar</button>
        </div>
        <div class="blocks"></div>
    </div>
</div>



<script type="text/ng-template" id="importFormData.html">

    <div class="jss3726" ng-include="'bg-svg.html'"></div>

    <form id="import-csv-form" class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4" for="fileType">{{translation.File_Type}}:</label>
                <div class="col-sm-8">
                    <label class="me-10"><input type="radio" ng-model="importDataFileParam.fileType" name="fileType" value="csv" checked="checked"> *.csv</label>
                    <!--<label><input type="radio" name="fileType" ng-model="importDataFileParam.fileType" value="xlsx"> *.xlsx /*.xls</label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="fileType">{{translation.Action}}:</label>
                <div class="col-sm-8">

                    <label class="me-10"><input type="radio" name="typeOfAction" ng-model="importDataFileParam.typeOfAction" value="Append" checked="checked"> Append</label>
                    <label class="me-10"><input type="radio" name="typeOfAction" ng-model="importDataFileParam.typeOfAction" value="Overwrite" checked="checked"> Overwrite</label>
                    <!--<label><input type="radio" ng-model="importDataFileParam.typeOfAction" name="typeOfAction" value="Overwrite"> Overwrite</label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="formName">{{translation.Select_CSV_file_to_import}}:</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" ng-model="importDataFileParam.fileData" name="csvFile" id="csvFile">

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="importDataFile()">{{translation.Upload}}</a>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
    </form>



</script>






<script type="text/ng-template" id="formImportModal.html">
    <div class="jss3726" ng-include="'bg-svg.html'"></div>
    <form id="import-form-fields" class="form-horizontal" autocomplete="off">
        <div class="modal-body">
            <!--                            <div class="form-group">
                                            <label class="col-sm-4" for="fileType">File Type:</label>
                                            <div class="col-sm-8">
                                                <label class="me-10"><input type="radio" name="fileType" value="csv" checked="checked"> *.csv</label>
                                                <label><input type="radio" name="fileType" value="xlsx"> *.xlsx /*.xls</label>
                                            </div>
                                        </div>-->
            <div class="form-group">
                <label class="control-label col-sm-4" for="sourceformName">{{translation.Enter_form_name_to_import}}:</label>
                <div class="col-sm-8">
                    <div class="easy-autocomplete eac-description" style="width: 100px;">
                        <input type="text" class="form-control" name="sourceformName" id="sourceformName" autocomplete="off">

                    </div>
                </div>
            </div>
            <input type="hidden" class="form-control" name="sourceformID" id="sourceformID">
        </div>
        <div class="modal-footer">
            <input type="hidden" name="formID" value="1914">
            <button type="submit" class="btn btn-primary" ng-click="importDataFromFormSave()">{{translation.Enter_form_name_to_import}}</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">{{translation.Cancel}}</button>
        </div>
        <input type="hidden" name="_token" value="4Rfj3s4hRruEjsEU3EnEKgS0lRddPPqiwQQ2eemR">
    </form>
</script>




<script type="text/ng-template" id="customModal.html">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group mb-0 text-center">
                    <div class="col col-sm-12">
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteMessageClick(1)">Delete For Me</button> &nbsp;
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteMessageClick(2)">Delete For Everyone</button> &nbsp;
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="privateAlert.html">
    <div class="prompt" style="top: 195.299px; left: 44.3001px;">
        <div class="prompt-header form-group row">
            <div class="col-auto">
                Invite
            </div>
            <div class="col">
                <input type="text" ng-model="invitedPerson.name" class="form-control" />
            </div>
            <div class="col">
                to Private Chat ?
            </div>
        </div>
        <!-- <div class="prompt-body clearfix">
            <div class="aligncenter clearfix">
                <p class="clearfix">
                </p>
            </div>
        </div> -->
        <div class="modal-footer pb-0">
            <button type="button" id="btnInvite" data-dismiss="modal" class="btn btn-primary" ng-click="inviteToChat(invitedPerson)">Invite</button>
            <button data-toggle="decline" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="EditcustomModal.html">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group text-center">
                    <div class="col col-sm-12 mb-2">
                        <textarea class="form-control" ng-model="editMessageData.message"> </textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary me-0" data-dismiss="modal" ng-click="editMessageSave()">Update</button> &nbsp;
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="AlertStatus.html">
    <div class="prompt" style="top: 195.299px; left: 44.3001px;">
        <div class="prompt-header">
            <div ng-if="roomInvitationDetails.isInvitationA_R==1">Accepted</div>
            <div ng-if="roomInvitationDetails.isInvitationA_R==2">Declined</div>
        </div>
        <div class="prompt-header">
            <input type="text" ng-model="roomInvitationDetails.receiver" />
            <div ng-if="roomInvitationDetails.isInvitationA_R==1">Accepted</div>
            <div ng-if="roomInvitationDetails.isInvitationA_R==2">Declined</div>
            your Invitation.
        </div>
        <div class="prompt-footer"></div>
    </div>
</script>
<script type="text/ng-template" id="AccessDenied.html">
    <div class="row">
        <div class="col-sm-12">
            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: block;">
                <span class="swal2-x-mark swal2-animate-x-mark">
                    <span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span>
                </span>
            </div>
            <div class="swal2-contentwrapper">
                <h5 class="swal2-title" id="swal2-title">Form Entry</h5>
                <div id="swal2-content" class="swal2-content" style="display: block;">
                    You are not allowed to do this operation. Form Based Roles
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript"
        src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>

<script>

    $("#nav-schedular-form").addClass("active");
    $("#nav-manage-master").addClass("active");

</script>