<style>
    #date-range {
        width: 100%;
        height: 100%;
    }

    .current-date {
        background-color: red;
        color: white;
    }

    .selected-date {
        background-color: lightblue;
        color: white;
    }

</style>
<main id="content" role="main" class="">
    <!-- Content -->
    <div class="">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wraping">
                            <div class="top-head purple">
                                <h3>Business Users</h3>
                                <img src="/assets/img/ques.png">
                            </div>
                            <div class="wrap-body">
                                <div class="wb-top">
                                    <div class="w-l w-80">
                                        <h1 id="lblBusinessUsers">0</h1>
                                    </div>
                                    <div class="w-r w-20">
                                        <h3></h3>
                                    </div>
                                </div>
                                <div class="wb-bottom">
                                    <div class="w-l w-80">
                                        <p><span>2023-02-21</span> <span></span> <span></span></p>
                                    </div>
                                    <div class="w-r w-20">
                                        <p><a ui-sref="SuperadminBusinessUsers()">View ></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wraping">
                            <div class="top-head light-purple">
                                <h3>Public Users</h3>
                                <img src="/assets/img/ques.png">
                            </div>
                            <div class="wrap-body">
                                <div class="wb-top">
                                    <div class="w-l w-80">
                                        <h1 id="lblPublicUsers">0</h1>
                                    </div>
                                    <div class="w-r w-20">
                                        <h3><img src="" /> </h3>
                                    </div>
                                </div>
                                <div class="wb-bottom">
                                    <div class="w-l w-80">
                                        <p><span>2023-02-21</span> <span></span> <span></span></p>
                                    </div>
                                    <div class="w-r w-20">
                                        <p><a ui-sref="SuperadminPublicUsers()"> View ></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wraping">
                            <div class="top-head barrway-red">
                                <h3>Super Admin Users</h3>
                                <img src="/assets/img/ques.png">
                            </div>
                            <div class="wrap-body">
                                <div class="wb-top">
                                    <div class="w-l w-80">
                                        <h1 id="lblSuperUsers">0</h1>
                                    </div>
                                    <div class="w-r w-20">
                                        <h3><img src="" /> </h3>
                                    </div>
                                </div>
                                <div class="wb-bottom">
                                    <div class="w-l w-80">
                                        <p><span>2023-02-21</span> <span></span> <span></span></p>
                                    </div>
                                    <div class="w-r w-20">
                                        <p><a ui-sref="SuperAdminUserMaster()"> View ></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wraping">
                            <div class="top-head light-purple">
                                <h3>Total Companies</h3>
                                <img src="/assets/img/ques.png">
                            </div>
                            <div class="wrap-body">
                                <div class="wb-top">
                                    <div class="w-l w-80">
                                        <h1 id="lblTotalCompanies">0</h1>
                                    </div>
                                    <div class="w-r w-20">
                                        <h3><img src="" /> </h3>
                                    </div>
                                </div>
                                <div class="wb-bottom">
                                    <div class="w-l w-80">
                                        <p><span>2023-02-21</span> <span></span> <span></span></p>
                                    </div>
                                    <div class="w-r w-20">
                                        <p><a ui-sref="SuperAdminCompanyMaster({formId:2295})"> View ></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wraping">
                            <div class="top-head salmon">
                                <h3>Total Calendars</h3>
                                <img src="/assets/img/ques.png">
                            </div>
                            <div class="wrap-body">
                                <div class="wb-top">
                                    <div class="w-l w-80">
                                        <h1 id="lblTotalCalendars">0</h1>
                                    </div>
                                    <div class="w-r w-20">
                                        <h3><img src="" /> </h3>
                                    </div>
                                </div>
                                <div class="wb-bottom">
                                    <div class="w-l w-80">
                                        <p><span>2023-02-21</span> <span></span> <span></span></p>
                                    </div>
                                    <div class="w-r w-20">
                                        <p><a ui-sref="SuperAdminCompanyMaster({formId:2296})"> View ></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
</main>
<script>


</script>