<style>
    #date-range {
        width: 100%;
        height: 100%;
    }

    .current-date {
        background-color: red;
        color: white;
    }

    .selected-date {
        background-color: lightblue;
        color: white;
    }

    .dash-tab {
        padding: 8px 20px;
        position: relative;
        top: 11px;
        margin-left: 8px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: 1px solid lightgrey;
        border-bottom: 0px;
        cursor: pointer;
        background: #f1f1f1;
        box-shadow: none;
    }

        .dash-tab.active {
            font-weight:bold;
            top: 12px;
            background:white;
            border: 1px solid lightgrey;
            border-bottom: 0px;
        }

</style>
<main id="content" role="main" class="">
    <script>
        $(document).on("click", ".dash-tab", function () {
            $(".dash-tab").removeClass("active");
            $(this).addClass("active");
            $("#dashboard-area").hide();
            $("#reports-area").hide();
            $("#" + $(this).attr("id").split('-')[0] + "-area").show();
        })
    </script>
    <!-- Content -->
    <div class="">
        <div class="">
            <span class="dash-tab active" id="dashboard-tab">{{translation.Dashboard}}</span>
            <span class="dash-tab" id="reports-tab">{{translation.Reports}}</span>
            <hr style="background:grey; margin:1rem 0rem;" />
        </div>
        <div id="dashboard-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head purple">
                                    <h3>{{translation.Business_Users}}</h3>
                                    <img src="/assets/img/ques.png">
                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div class="w-l w-80">
                                            <h1 id="lblBusinessUsers">0</h1>
                                        </div>
                                        <div class="w-r w-20">
                                            <h3></h3>
                                        </div>
                                    </div>
                                    <div class="wb-bottom">
                                        <div class="w-l w-80">
                                            <p><span>2023-02-21</span> <span></span> <span></span></p>
                                        </div>
                                        <div class="w-r w-20">
                                            <p><a ui-sref="SuperadminBusinessUsers()">{{translation.View}} ></a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head light-purple">
                                    <h3>{{translation.Public_Users}}</h3>
                                    <img src="/assets/img/ques.png">
                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div class="w-l w-80">
                                            <h1 id="lblPublicUsers">0</h1>
                                        </div>
                                        <div class="w-r w-20">
                                            <h3><img src="" /> </h3>
                                        </div>
                                    </div>
                                    <div class="wb-bottom">
                                        <div class="w-l w-80">
                                            <p><span>2023-02-21</span> <span></span> <span></span></p>
                                        </div>
                                        <div class="w-r w-20">
                                            <p><a ui-sref="SuperadminPublicUsers()"> {{translation.View}} ></a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head purple">
                                    <h3>{{translation.Super_Admin_Users}}</h3>
                                    <img src="/assets/img/ques.png">
                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div class="w-l w-80">
                                            <h1 id="lblSuperUsers">0</h1>
                                        </div>
                                        <div class="w-r w-20">
                                            <h3><img src="" /> </h3>
                                        </div>
                                    </div>
                                    <div class="wb-bottom">
                                        <div class="w-l w-80">
                                            <p><span>2023-02-21</span> <span></span> <span></span></p>
                                        </div>
                                        <div class="w-r w-20">
                                            <p><a ui-sref="SuperAdminUserMaster()"> {{translation.View}} ></a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head barrway-red">
                                    <h3>{{translation.Total_Companies}}</h3>
                                    <img src="/assets/img/ques.png">
                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div class="w-l w-80">
                                            <h1 id="lblTotalCompanies">0</h1>
                                        </div>
                                        <div class="w-r w-20">
                                            <h3><img src="" /> </h3>
                                        </div>
                                    </div>
                                    <div class="wb-bottom">
                                        <div class="w-l w-80">
                                            <p><span>2023-02-21</span> <span></span> <span></span></p>
                                        </div>
                                        <div class="w-r w-20">
                                            <p><a ui-sref="SuperAdminCompanyMaster({formId:2295})"> {{translation.View}} ></a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head barrway-red">
                                    <h3>{{translation.Total_Calendars}}</h3>
                                    <img src="/assets/img/ques.png">
                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div class="w-l w-80">
                                            <h1 id="lblTotalCalendars">0</h1>
                                        </div>
                                        <div class="w-r w-20">
                                            <h3><img src="" /> </h3>
                                        </div>
                                    </div>
                                    <div class="wb-bottom">
                                        <div class="w-l w-80">
                                            <p><span>2023-02-21</span> <span></span> <span></span></p>
                                        </div>
                                        <div class="w-r w-20">
                                            <p><a ui-sref="SuperAdminCompanyMaster({formId:2296})"> {{translation.View}} ></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="reports-area" style="display:none;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head purple">
                                    <h3>{{translation.Company_Reports}}</h3>

                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div style="padding:16px; border-bottom:1px solid lightgrey;">
                                            {{translation.Report}} 1
                                        </div>
                                        <div style="padding:16px; border-bottom:1px solid lightgrey;">
                                            {{translation.Report}} 2
                                        </div>
                                        <div style="padding:16px; border-bottom:0px solid lightgrey;">
                                            {{translation.Report}} 3
                                        </div>
                                    </div>
                                    <div class="wb-bottom">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wraping">
                                <div class="top-head purple">
                                    <h3>{{translation.Calendar_Reports}}</h3>

                                </div>
                                <div class="wrap-body">
                                    <div class="wb-top">
                                        <div style="padding:16px; border-bottom:1px solid lightgrey;">
                                            {{translation.Report}} 1
                                        </div>
                                        <div style="padding:16px; border-bottom:1px solid lightgrey;">
                                            {{translation.Report}} 2
                                        </div>
                                        <div style="padding:16px; border-bottom:0px solid lightgrey;">
                                            {{translation.Report}} 3
                                        </div>
                                    </div>
                                    <div class="wb-bottom">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    
</main>
<script>


</script>