<style>
    .mobileNumberDiv {
        display: flex;
    }
    .select2-container {
        margin-right: 10px !important;
        border: 1px solid #8171B0;
        border-radius: 4px;
    }
        .select2-container > span.selection > span {
            border: none;
        }

    .select2-dropdown {
        border: 1px solid #3fbfc7 !important;
    }

    .select2-container {
        margin-top: 0px;
    }

    input.disabled, select.disabled {
        background: #ebebeb !important;
        color: #7d7d7d;
        border: 1px solid #d4d4d4 !important;
    }

    /*.select2-container--default .select2-selection--single {
        border: 1px solid #3fbfc7 !important;
    }*/
</style>
<script src="/fg-assets/select2/select2.js"></script>
<link href="/fg-assets/select2/select2.css" rel="stylesheet" />

<div id="changePasswordFormDiv">
    <div class="container">
        <div class="form-inner" style="max-width:unset!important; padding:0px;">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="main-left">
                        <div class="">
                            <span><a href="#">{{translation.User}}</a> / <span> <a href="#">Change password</a> </span></span>
                        </div>
                        <div class="ml-content">
                            <h2>Change Password</h2>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-3">

                <div class="col-md-12">
                    <p>
                        To change your password we will send a link to your registered email id. Click the button below to send link to your registered email id.
                    </p>
                </div>
                
                <div class="col-lg-5 col-xl-5">
                    <button class="btn btn-primary" style="margin-top:16px;" ng-click="sendLink()">Send reset password link</button>
                </div>

            </div>
            <!-- End Row -->
        </div>
    </div>
</div>