<main id="content" role="main" class="">
    <!-- Content -->
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="main-left">
                    <div class="bred-nav">
                        <span><a href="#" ui-sref="home()">User</a> / <span> <a href="#" ui-sref="home()">Dashboard</a> </span></span>
                    </div>
                    <div class="ml-content">
                        <h2>Your recently booked calendar</h2>



                        <div class="wrap" ng-repeat="company in CalendarCompanyList">
                            <div class="wrap-im">
                                <img src="{{company.COMPANY_LOGO_PATH}}">
                            </div>
                            <div class="wrap-con">
                                <p><b>{{company.COMPANY_NAME_ENGLISH}}</b></p>
                                <P class="font-2">{{company.ACTIVITY_NAME}}</P>
                                <p>Service {{company.CALENDAR_SUB_CATEGORY_NAME}}</p>
                                <p><button class="book" ng-click="GoToCalendar(company.CompanyId)">Book</button></p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="main-right">
                    <div class="top">
                        <span style="position: relative;top: 2px;">Your booking reminder</span>
                        <span><button>go to Calendar</button></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Content -->
</main>