<style>
    #date-range {
        width: 100%;
        height: 100%;
    }

    .current-date {
        background-color: red;
        color: white;
    }

    .selected-date {
        background-color: lightblue;
        color: white;
    }

    @media screen and (max-width:767px) {
        .main-left {
            max-height: 100%;
        }
        .mob-scroll {
            width: 100%;
            float: left;
            display: inline-flex;
            overflow-x: auto;
            white-space: nowrap;
            margin-bottom: 15px;
        }
            .mob-scroll .wrap {
                min-width: 255px;
                float: left;
                margin-bottom: 10px;
               
            }
                .mob-scroll .wrap .wrap-im {
                    width: 40%;
                    float: left;
                }
                .mob-scroll .wrap .wrap-con {
                    width: 58%;
                    float: left;
                    white-space: normal;
                }
        .ml-content h2 {
            font-size: 18px;
            margin-top: 15px;
        }
    }
       
</style>

<main id="content" role="main" class="">
    <!-- Content -->
    <div class="container">


        <div class="row">
            <div class="col-lg-5 col-xl-5">
                <div class="main-left custom-main">
                    <div class="bred-nav">
                        <span><a href="#" ui-sref="home()">{{translation.User}}</a> / <span> <a href="#" ui-sref="home()">{{translation.Dashboard}}</a> </span></span>
                    </div>
                    <div class="carusal-ticket">
                        <div id="owl-demo-ticket" class="owl-carousel owl-theme owl-demo-ticket">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="ticket-content">
                                        <h1>A13</h1>
                                        <p>Your turn</p>
                                    </div>
                                    <div class="ticket-logo">
                                        <div class="ticket-logo-img">
                                            <img src="/assets/marketplace/image/alogo.png">
                                        </div>
                                        <span class="">Comapany Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="ticket-content">
                                        <h1>A13</h1>
                                        <p>Your turn</p>
                                    </div>
                                    <div class="ticket-logo">
                                        <div class="ticket-logo-img">
                                            <img src="/assets/marketplace/image/alogo.png">
                                        </div>
                                        <span class="">Comapany Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="ticket-content">
                                        <h1>A13</h1>
                                        <p>Your turn</p>
                                    </div>
                                    <div class="ticket-logo">
                                        <div class="ticket-logo-img">
                                            <img src="/assets/marketplace/image/alogo.png">
                                        </div>
                                        <span class="">Comapany Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="ticket-content">
                                        <h1>A13</h1>
                                        <p>Your turn</p>
                                    </div>
                                    <div class="ticket-logo">
                                        <div class="ticket-logo-img">
                                            <img src="/assets/marketplace/image/alogo.png">
                                        </div>
                                        <span class="">Comapany Name</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ml-content">
                        <h2>{{translation.Your_recently_booked_calendar}}</h2>
                        <div class="mob-scroll">
                        <div class="wrap" ng-repeat="calendar in CalendarCompanyList">
                            <div class="wrap-im">
                                <img src="{{calendar.CALENDAR_PHOTO_PATH.replace('~', '')}}">

                            </div>
                            <div class="wrap-con">
                                <p><b>{{calendar.COMPANY_NAME_ENGLISH}}</b></p>
                                <P class="font-2">{{calendar.CALENDAR_NAME}}</P>
                                <p style="max-height: 40px; overflow:hidden;">{{calendar.ServiceList}}</p>
                                <p>Balance: {{calendar.COIN_BALANCE}}</p>
                                <p><button class="book" ng-click="GoToCalendar(calendar.COMPANY_CODE, calendar.CALENDAR_CODE)">{{translation.Book}}</button></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="main-right" style="min-height: 85vh;">
                    <div class="top">
                        <span style="position: relative;top: 2px;">{{translation.Your_booking_reminder}}</span>
                        <span><button ng-click="">{{translation.Go_to_Calendar}}</button></span>
                    </div>
                    
                    <div class="row mob-calen">
                        <div class="col-md-6">
                            <div id="calendar0" class="fc fc-unthemed fc-ltr"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="calendar1" class="fc fc-unthemed fc-ltr"></div>
                        </div>

                    </div>
                    <br /><br />
                    <div style="height: 400px; overflow: hidden; overflow-y: scroll;">
                        <div class="row">
                            <div class="col-md-12 mb-3" ng-repeat="event in bookingEventData">
                                <div style="border-radius: 8px; cursor:pointer; background: #ECFAFB; min-height: 107px; ">

                                    <div class="row" ng-click="GoToCalendar(event.COMPANY_CODE, '', 2)">
                                        <div class="col-md-9" style="padding:16px 31px">
                                            <h3>{{event.customTitleSplit[1]}}</h3>
                                            <div>
                                                {{event.customTitleSplit[0]}}
                                            </div>
                                            <div>
                                                {{event.customTitleSplit[2]}}
                                            </div>
                                            <div>
                                                {{event.start}}
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img src="{{event.COMPANY_LOGO_PATH}}" style="height:70px; width:70px; border-radius: 100px; border: 1px solid grey; margin-top:18px;" />
                                            <div>
                                                {{event.COMPANY_NAME_ENGLISH}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="padding:0px 31px; padding-bottom: 16px;">
                                            <div ng-if="event.ATTEND == 'N'" style="display:flex; justify-content:flex-start;">
                                                <button class="btn btn-danger" ng-click="AttendSession(event.Id, 'NORMAL')" style="background: #E2476C; padding:6px 16px; border-radius: 50px; margin-right: 8px;">Attend</button>
                                                <img src="../../assets/img/QR_CODE_LOGO.png" ng-click="AttendSession(event.Id, 'QR')" style="height: 40px; width: 40px;" />
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Content -->

    <script>
        $('.owl-demo-ticket').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: true,
                    loop: false
                }
            }
        })

    </script>
</main>
