<link href="fg-assets/lightbox/css/lightbox.css" rel="stylesheet" />
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>

<script src="fg-assets/fullcalendar/dist/fullcalendar.min.js"></script>
<link href="fg-assets/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/scheduler.min.css"
      rel="stylesheet" />
<script src="fg-assets/js/jquery-ui.js"></script>

<link href="fg-assets/css/jquery-ui.css" rel="stylesheet" />
<link href="fg-assets/css/jquery.jgrowl.min.css" rel="stylesheet" />
<script src="fg-assets/js/jquery.jgrowl.min.js"></script>
<script src="fg-assets/js/moment.js"></script>

<style>
    /*    nav[aria-label="breadcrumb"] {
        position: absolute;
        top: -40px;
    }*/

    .w-60p {
        width: 60px;
        min-width: 60px;
    }

    .lightbox {
        display: none;
    }

    .upload-file-btn {
        position: relative;
        overflow: hidden;
    }

        .upload-file-btn input {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

    .chatboot__form {
        background: #fff;
        border: 1px solid #ddd;
        padding: 5px 0 0 0;
    }

    .custom_row_margin {
        margin-left: -15px;
        margin-right: -15px;
    }

    .btnalign > div {
        display: inline-block;
    }

    .btn-group > .btn-group:not(:first-child) > .btn,
    .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0px;
    }

    .btn-group > .btn-group:not(:last-child) > .btn,
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 0 !important;
    }

    .btn.btn-outline-success {
        color: #3e246b;
        border: 1px solid #3e246b;
        background-color: transparent;
    }

        .btn.btn-outline-success:hover {
            background-color: #3e246b !important;
            color: #fff;
        }

    .custom-chat-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(62 36 107);
        /* color: #fff !important; */
        position: fixed;
        right: 50px;
        bottom: 11px;
        z-index: 1;
        box-shadow: 0px 0px 15px rgba(62, 36, 107, 0.35) !important;
        background-color: #bcb3cc;
        color: #3e246b !important;
        cursor: pointer;
    }

    body .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }

    body .chatPopup .card .chatListContainer {
        white-space: normal;
        word-break: break-word;
    }

    .custom-br {
        font-size: 14px;
        font-style: italic;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.2px;
    }
</style>

<style>
    .fc-timeline .fc-body .fc-scroller {
        height: 500px !important;
    }
    /*Agenda & Timeline Source event design*/
    .fc-event-container .fc-timeline-event .fc-content:nth-of-type(1),
    .fc-event-container .fc-time-grid-event .fc-content:nth-of-type(1),
    .fc-event-container .fc-day-grid-event .fc-content:nth-of-type(1) {
        margin-top: 0px;
    }

    .fc-event-container .fc-timeline-event .fc-content,
    .fc-event-container .fc-time-grid-event .fc-content,
    .fc-event-container .fc-day-grid-event .fc-content {
        margin-top: 3px;
        margin-bottom: 0px;
        padding: 0px 8px;
    }

        .fc-event-container .fc-timeline-event .fc-content .fc-title,
        .fc-event-container .fc-time-grid-event .fc-content .fc-title,
        .fc-event-container .fc-day-grid-event .fc-content .fc-title {
            font-size: 16px;
            font-family: Arial;
        }

        .fc-event-container .fc-timeline-event .fc-content:nth-last-of-type(1),
        .fc-event-container .fc-time-grid-event .fc-content:nth-last-of-type(1),
        .fc-event-container .fc-day-grid-event .fc-content:nth-last-of-type(1) {
            margin-bottom: 0px;
        }

    .fc th {
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat-bold';
        font-size: 80%;
    }

    .fc button {
        font-family: 'Montserrat';
    }

    .ui-widget .ui-widget, .calendar {
        font-family: 'Montserrat' !important;
    }

    #vertical-resource-view .fc-view-container {
        overflow-x: scroll;
    }


    #vertical-resource-view .fc-view.fc-agendaDay-view.fc-agenda-view {
        width: 100%;
    }
    /* **For 2 day view** */
    #vertical-resource-view .fc-view.fc-agendaTwoDays-view.fc-agenda-view {
        width: 500%;
    }

    #vertical-resource-view .fc-view.fc-agendaThreeDays-view.fc-agenda-view {
        width: 600%;
    }

    #vertical-resource-view .fc-view.fc-agendaWeek-view.fc-agenda-view {
        width: 1500%;
    }
    /*end*/

    .lightbox {
        display: none;
    }

    .popover {
        z-index: 99;
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight {
        border: 1px solid #72c3ec !important;
        background: #e9f3fc url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x !important;
    }

    .fa-sm {
        font-size: 12px;
    }

    .titleContainer,
    .popoverSelect {
        display: flex;
        align-items: center;
    }

    .sidebar ul li a {
        color: #3e246b !important;
    }

    .customTitle {
        background: rgb(255, 255, 255);
        border-color: #aaa;
        padding: 2px;
        border-radius: 5px;
        z-index: 1;
    }

    .btn.btn-outline-success {
        color: #3e246b;
        border: 1px solid #3e246b;
        background-color: transparent;
    }

        .btn.btn-outline-success:hover {
            background-color: #3e246b !important;
            color: #fff;
        }

    .btn-group > .btn-group:not(:first-child) > .btn,
    .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0px;
    }

    .btn-group > .btn-group:not(:last-child) > .btn,
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 0 !important;
    }

    .fc-listYear-view tr.fc-list-item,
    .fc-listMonth-view tr.fc-list-item,
    .fc-listWeek-view tr.fc-list-item,
    .fc-listDay-view tr.fc-list-item {
        background: #e2e2e2 !important;
        margin-bottom: 10px;
        display: flex;
        margin: 3px;
    }

    #list-view table.fc-list-table tr .fc-content {
        margin: 3px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .fc-content.fcTime .fc-content {
        color: #fff;
        padding: 0px 5px;
        margin: 3px 3px 3px;
    }

    .fc-content.fcTime small.time {
        color: #7b7b7b;
    }

    .fc-content.fcTime {
        margin: 7px 0px !important;
    }

    .breadcrumbUi.row {
        /*margin-left: -20px !important;*/
    }

    .custom-br {
        font-size: 14px;
        font-style: italic;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: .2px;
    }

    .course-click {
        transition: all linear .3s;
        cursor: pointer;
    }

        .course-click.right {
            transform: rotate(90deg);
        }



    .modal-dialog-slideout {
        min-height: 100%;
        margin: 0 0 0 auto;
        background: #fff;
    }

    .modal.fade {
        padding-right: 0px !important;
    }

        .modal.fade .modal-dialog.modal-dialog-slideout {
            -webkit-transform: translate(100%,0)scale(1);
            transform: translate(100%,0)scale(1);
        }

        .modal.fade.show .modal-dialog.modal-dialog-slideout {
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
            display: flex;
            align-items: stretch;
            -webkit-box-align: stretch;
            height: 100%;
        }

            .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
                overflow-y: auto;
                overflow-x: hidden;
            }

    .modal-dialog-slideout .modal-content {
        border: 0;
    }

    .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
        /* height: 69px;
        display: block;*/
    }

        .modal-dialog-slideout .modal-header h5 {
            float: left;
        }

    .fc-event-container .fc-timeline-event .fc-content:nth-of-type(1), .fc-event-container .fc-time-grid-event .fc-content:nth-of-type(1), .fc-event-container .fc-day-grid-event .fc-content:nth-of-type(1) {
        display: none;
    }

    #agenda-view .fc-event-container .fc-timeline-event .fc-content .fc-title, #agenda-view .fc-event-container .fc-time-grid-event .fc-content .fc-title,
    #agenda-view .fc-event-container .fc-day-grid-event .fc-content .fc-title {
        font-size: 12px;
    }

    #agenda-view .fc-event-container .fc-timeline-event .fc-content, #agenda-view .fc-event-container .fc-time-grid-event .fc-content,
    #agenda-view .fc-event-container .fc-day-grid-event .fc-content {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px !important;
    }

        #agenda-view .fc-event-container .fc-timeline-event .fc-content, #agenda-view .fc-event-container .fc-time-grid-event .fc-content,
        #agenda-view .fc-event-container .fc-day-grid-event .fc-content .fc-customtime {
            position: absolute;
            right: 1px;
            top: 4px;
            font-size: 12px;
        }

    #vertical-resource-view .fc table {
        table-layout: auto;
    }

    #vertical-resource-view .fc-view > table {
        min-width: 0;
        width: auto;
    }

    #vertical-resource-view .fc-axis {
        min-width: 100px; /*the width of times column*/
        width: 100px; /*the width of times column*/
    }

    #vertical-resource-view .fc-day, .fc-resource-cell, .fc-content-col {
        min-width: 350px;
        width: 100%;
    }

    div#calendar .fc-timeline .fc-body .fc-scroller {
        height: auto !important;
    }

    .modalscrollable {
        overflow-y: auto;
        max-height: 500px;
        min-height: 500px;
    }




    /* Important part */
    /*.modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }*/

    .modalscrollable {
        overflow-y: auto;
        max-height: 500px;
        min-height: 500px;
    }


    /* Important part */
    /*.modal-dialog {
        overflow-y: initial !important
    }
    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }*/
    div#calendar .fc-timeline .fc-body .fc-scroller {
        height: auto !important;
        min-height: 400px;
    }

    .menu-icon_box {
        display: inline-block;
        height: 25px;
        position: relative;
        text-align: left;
        width: 25px;
    }

    .Hideleftmenu {
        padding: 56px 0px 0;
        margin-left: -20px;
        position: relative;
    }
</style>

<div id="transaction-controller-div">
    
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-sm mb-2 mb-sm-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-no-gutter">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" ui-sref="Home()">{{translation.Home}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Bookings</li>
                    </ol>
                </nav>
                <h1 class="page-header-title">My Bookings</h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default  mt-3">
                <div class="card-body mp-0 p-1">
                    <div id="pageActions">
                        <div id="page-tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content" style="border: none;">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="nav-link-upcoming" ng-click="BindMyBookings(1)" href="javascript:void(0)">Upcoming Bookings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link-past" ng-click="BindMyBookings(2)" href="javascript:void(0)">Past Bookings</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabulator-section">
                            <div class="form-builder-loader text-center">
                                <div class="loader">
                                    <i class="fa fa-spinner fa-pulse fa-fw"> </i>
                                    <div>
                                        {{translation.Loading_Form_Tabulator}}...
                                    </div>
                                </div>
                            </div>
                            <div id="upcomingBookings">
                                <div id="form-records"></div>
                            </div>
                            <div id="pastBookings" style="display:none;">
                                <div id="form-records-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .nav-link.active:after {
            background: none;
        }
    </style>

    <div id="markAttendanceModel"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="jss3726" ng-include="'bg-svg.html'"></div>
                <div class="modal-header">
                    <h3 class="modal-title">Mark Attendance</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mark-attendance-details">
                                <h4 style="font-weight:500">{{currentTransaction.STUDENT_NAME}}</h4>
                                <div>Slot: {{currentTransaction.SLOT}}</div>
                                <div>Date: {{currentTransactionDate}}</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mark-attendance-details">
                                <h4 style="font-weight:500">Attendance: <b>{{currentTransactionAttendance}}</b></h4>
                                <div>
                                    <button class="btn btn-success" ng-click="markPresent()">Present</button> <button class="btn btn-warning" ng-click="markAbsent()">Absent</button> <button type="button" class="btn btn-default" ng-click="closeAttendanceModel()" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <!--<button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">
                        {{translation.Submit}}
                    </button>-->
                </div>
            </div>
        </div>
    </div>

    <div id="searchModal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="jss3726" ng-include="'bg-svg.html'"></div>
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="search-results" class="list-group"></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">
                        {{translation.Close}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="galleryModal"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="jss3726" ng-include="'bg-svg.html'"></div>
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">
                        {{translation.Close}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="tabulatorConfigModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="jss3726" ng-include="'bg-svg.html'"></div>
                <div class="modal-header">
                    <h4 class="modal-title"> {{translation.Tabulator_Configurations}}</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>

                <div class="modal-body">
                    <div class="alert-area"></div>
                    <a class="btn btn-sm btn-success" href=""><i class="fa fa-plus"></i> {{translation.Create_New}}</a>
                    <a href="javascript:;"
                       class="btn btn-sm btn-primary"
                       id="toggle_responsive"></a>
                    <a class="btn btn-primary btn-sm pull-right"
                       href="javascript:;"
                       id="delete_per_cookie">
                        {{translation.Default_Configuration}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade right" id="customEventDetailsModelPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Event Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="event-detail div-flex">
                        <div class="div-flex">
                            <div class="title">

                                <div class="temp">
                                    <span class="titleContainer">
                                        <span> {{selectEventDetails.COMPANY_NAME_ENGLISH}}</span>
                                    </span>
                                </div>

                                <div class="temp">
                                    <span class="titleContainer">
                                        <span> {{selectEventDetails.CALENDAR_NAME}}</span>
                                    </span>
                                </div>

                            </div>
                            <br />
                            <div style="font-weight:bold;" ng-if="!selectEventDetails.allDay" class="{{selectEventDetails.customDate}}">{{selectEventDetails.customDate}}</div>
                            <div style="font-weight:bold;" ng-if="!selectEventDetails.allDay">{{selectEventDetails.customTime}}</div>

                            <div style="font-weight:bold;" ng-if="selectEventDetails.allDay" class="{{selectEventDetails.customDate}}">{{selectEventDetails.customDate}}</div>

                            <div class="temp" ng-repeat="d in selectEventDetails.dropdownList" ng-if="d.formId == '2306'" style="font-weight:bold;">
                                <span class="titleContainer">
                                    <span ng-class="{'text-muted': d.customClass == 'true' , 'title1': d.customClass == 'false'}"> {{d.formTitle}}</span>
                                </span>
                            </div>

                            <br />

                            <div class="temp" ng-repeat="d in selectEventDetails.dropdownList" ng-if="d.formId != '2306' && d.formId != '2310'" style="font-weight:bold;">
                                <span class="titleContainer">
                                    <span ng-class="{'text-muted': d.customClass == 'true' , 'title1': d.customClass == 'false'}"> {{d.formTitle}}</span>
                                </span>
                            </div>

                            <input value="{{selectEventDetails.Id}}" id="newtag-inputHidden" type="hidden">

                            <div ng-repeat="tag in totalSelectListTagify">
                                <input value="{{selectEventDetails[tag.name]}}" id="newtag-inputHidden{{tag.name}}" type="hidden">
                                <input value="{{tag.name}}" id="newtag-inputHidden{{selectEventDetails.Id}}" type="hidden">
                                <input id="newtag-input{{tag.name}}" type="text" value="{{selectEventDetails[tag.name]}}" placeholder="Add tags">
                            </div>

                            <label ng-if="selectEventDetails.description != null && selectEventDetails.description != ''">Event Description:</label>
                            <label class="pr-2" style="font-weight: 400;" ng-bind-html="selectEventDetails.description | safeHtml"></label>

                            <div class="form-group mt-2 p-0" ng-if="selectEventDetails.DOWNLOADABLE_ATTACHMENT && selectEventDetails.DOWNLOADABLE_ATTACHMENT!='' && selectEventDetails.DOWNLOADABLE_ATTACHMENT!='null'">
                                <label>Document download</label>
                                <ul style="list-style-type:none;margin:0;padding:0;margin-top:10px;">
                                    <li ng-repeat="item in selectEventDetails.DOWNLOADABLE_ATTACHMENT_FILES" ng-if="item.type=='public'"><a ng-href="{{item.url}}" target="_blank"><i class="fa fa-file"></i> {{item.name}}</a></li>
                                    <li ng-repeat="item in selectEventDetails.DOWNLOADABLE_ATTACHMENT_FILES" ng-if="item.type=='user' && selectEventDetails.IsAlreadyBooked == 'Y'"><a ng-href="{{item.url}}" target="_blank"><i class="fa fa-file"></i> {{item.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="form-group mt-2 p-0" ng-if="selectEventDetails.isEnroll && selectEventDetails.IsAlreadyBooked == 'Y' && selectEventDetails.IS_UPLOAD_REQUIRED=='Y'
                         && (selectEventDetails.UPLOAD_TIME=='ANYTIME' || selectEventDetails.UPLOAD_TIME=='AFTER')">
                        <div class="form-group mt-2 p-0">
                            <label for="SELECT_DOWNLOADABLE_ATTACHMENT">Upload Attachments</label>
                            <input type="file" name="SELECT_DOWNLOADABLE_ATTACHMENT" class="form-control" onchange="angular.element(this).scope().validateForm('SELECT_DOWNLOADABLE_ATTACHMENT',false)" accept="image/*,.pdf,.doc,.docx,.xls,.xlsx" multiple id="SELECT_DOWNLOADABLE_ATTACHMENT" />
                            <span id="fileError2" style="color:red" class="error-message"></span><br>
                            <span id="fileSuccess" class="text-success"></span>
                        </div>
                        <input type="hidden" ng-model="selectEventDetails.ASSESSMENT_FILES" value="" id="DOWNLOADABLE_ATTACHMENT_FILES" />
                        <input type="hidden" ng-model="selectEventDetails.ASSESSMENT_FILES_LIST" value="" id="DOWNLOAD_FILE_LIST" />

                        <div class="form-group mt-2 p-0">
                            <button type="button" onclick="angular.element(this).scope().uploadFiles(true)" id="EventUploadBtn2" class="btn btn-primary disable" disabled>Upload</button>
                        </div>

                        <ul>
                            <li style="font-weight:600" ng-repeat="item in selectEventDetails.ASSESSMENT_FILES_LIST_DATA">
                                <a ng-href="{{item.url}}" target="_blank">{{item.name}}</a>
                                <button class="btn btn-link" ng-click="selectedEventRemoveFiles($index)"><i class="fa fa-times-circle"></i></button>
                            </li>
                        </ul>

                    </div>

                    <br />

                    <div class="div-list">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary public-primary" ng-if="selectEventDetails.isEnroll && selectEventDetails.IsAlreadyBooked == 'Y' && selectEventDetails.IsReviewable == 'N'" ng-click="cancelPublicUserBooking()">Cancel Booking</button>
                        <button type="button" class="btn btn-primary public-primary" ng-if="!selectEventDetails.isEnroll && selectEventDetails.IsAlreadyBooked == 'Y' && selectEventDetails.IsReviewable == 'Y'" ng-click="reviewSession()">Review</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/ng-template" id="importFormData.html">

    <div class="jss3726" ng-include="'bg-svg.html'"></div>

    <form id="import-csv-form" class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4" for="fileType">{{translation.File_Type}}:</label>
                <div class="col-sm-8">
                    <label class="me-10"><input type="radio" ng-model="importDataFileParam.fileType" name="fileType" value="csv" checked="checked"> *.csv</label>
                    <!--<label><input type="radio" name="fileType" ng-model="importDataFileParam.fileType" value="xlsx"> *.xlsx /*.xls</label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="fileType">{{translation.Action}}:</label>
                <div class="col-sm-8">

                    <label class="me-10"><input type="radio" name="typeOfAction" ng-model="importDataFileParam.typeOfAction" value="Append" checked="checked"> Append</label>
                    <label class="me-10"><input type="radio" name="typeOfAction" ng-model="importDataFileParam.typeOfAction" value="Overwrite" checked="checked"> Overwrite</label>
                    <!--<label><input type="radio" ng-model="importDataFileParam.typeOfAction" name="typeOfAction" value="Overwrite"> Overwrite</label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="formName">{{translation.Select_CSV_file_to_import}}:</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" ng-model="importDataFileParam.fileData" name="csvFile" id="csvFile">

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="importDataFile()">{{translation.Upload}}</a>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
    </form>



</script>

<script type="text/ng-template" id="formImportModal.html">
    <div class="jss3726" ng-include="'bg-svg.html'"></div>
    <form id="import-form-fields" class="form-horizontal" autocomplete="off">
        <div class="modal-body">
            <!--                            <div class="form-group">
                                            <label class="col-sm-4" for="fileType">File Type:</label>
                                            <div class="col-sm-8">
                                                <label class="me-10"><input type="radio" name="fileType" value="csv" checked="checked"> *.csv</label>
                                                <label><input type="radio" name="fileType" value="xlsx"> *.xlsx /*.xls</label>
                                            </div>
                                        </div>-->
            <div class="form-group">
                <label class="control-label col-sm-4" for="sourceformName">{{translation.Enter_form_name_to_import}}:</label>
                <div class="col-sm-8">
                    <div class="easy-autocomplete eac-description" style="width: 100px;">
                        <input type="text" class="form-control" name="sourceformName" id="sourceformName" autocomplete="off">

                    </div>
                </div>
            </div>
            <input type="hidden" class="form-control" name="sourceformID" id="sourceformID">
        </div>
        <div class="modal-footer">
            <input type="hidden" name="formID" value="1914">
            <button type="submit" class="btn btn-primary" ng-click="importDataFromFormSave()">{{translation.Enter_form_name_to_import}}</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">{{translation.Cancel}}</button>
        </div>
        <input type="hidden" name="_token" value="4Rfj3s4hRruEjsEU3EnEKgS0lRddPPqiwQQ2eemR">
    </form>
</script>

<script type="text/ng-template" id="customModal.html">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group mb-0 text-center">
                    <div class="col col-sm-12">
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteMessageClick(1)">Delete For Me</button> &nbsp;
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteMessageClick(2)">Delete For Everyone</button> &nbsp;
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="privateAlert.html">
    <div class="prompt" style="top: 195.299px; left: 44.3001px;">
        <div class="prompt-header form-group row">
            <div class="col-auto">
                Invite
            </div>
            <div class="col">
                <input type="text" ng-model="invitedPerson.name" class="form-control" />
            </div>
            <div class="col">
                to Private Chat ?
            </div>
        </div>
        <!-- <div class="prompt-body clearfix">
            <div class="aligncenter clearfix">
                <p class="clearfix">
                </p>
            </div>
        </div> -->
        <div class="modal-footer pb-0">
            <button type="button" id="btnInvite" data-dismiss="modal" class="btn btn-primary" ng-click="inviteToChat(invitedPerson)">Invite</button>
            <button data-toggle="decline" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="EditcustomModal.html">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group text-center">
                    <div class="col col-sm-12 mb-2">
                        <textarea class="form-control" ng-model="editMessageData.message"> </textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary me-0" data-dismiss="modal" ng-click="editMessageSave()">Update</button> &nbsp;
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="AlertStatus.html">
    <div class="prompt" style="top: 195.299px; left: 44.3001px;">
        <div class="prompt-header">
            <div ng-if="roomInvitationDetails.isInvitationA_R==1">Accepted</div>
            <div ng-if="roomInvitationDetails.isInvitationA_R==2">Declined</div>
        </div>
        <div class="prompt-header">
            <input type="text" ng-model="roomInvitationDetails.receiver" />
            <div ng-if="roomInvitationDetails.isInvitationA_R==1">Accepted</div>
            <div ng-if="roomInvitationDetails.isInvitationA_R==2">Declined</div>
            your Invitation.
        </div>
        <div class="prompt-footer"></div>
    </div>
</script>

<script type="text/ng-template" id="AccessDenied.html">
    <div class="row">
        <div class="col-sm-12">
            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: block;">
                <span class="swal2-x-mark swal2-animate-x-mark">
                    <span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span>
                </span>
            </div>
            <div class="swal2-contentwrapper">
                <h5 class="swal2-title" id="swal2-title">Form Entry</h5>
                <div id="swal2-content" class="swal2-content" style="display: block;">
                    You are not allowed to do this operation. Form Based Roles
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript"
        src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>