
<link href="fg-assets/lightbox/css/lightbox.css" rel="stylesheet" />
<link href="fg-assets/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
<script src="fg-assets/fullcalendar/dist/fullcalendar.js"></script>
<link href="Content/sidebar/css/mscustom-scroller.min.css" rel="stylesheet" />

<link href="fg-assets/fullcalendar-scheduler/dist/scheduler.min.css"
      rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/bootstrap-colorpicker.min.css"
      rel="stylesheet" />
<link href="fg-assets/fullcalendar-scheduler/dist/bootstrap-datetimepicker.css"
      rel="stylesheet" />
<link href="fg-assets/css/jquery.jgrowl.min.css" rel="stylesheet" />

<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" id="jquery-ui-change">
<!--<script src="fg-assets/js/jquery-ui.js"></script>-->
<script src="fg-assets/fullcalendar-scheduler/dist/scheduler.js"></script>
<script src="fg-assets/fullcalendar-scheduler/dist/bootstrap-datetimepicker.js"></script>

<script src="fg-assets/js/code/theme-chooser.js"></script>


<script src="fg-assets/js/jquery.jgrowl.min.js"></script>
<script src="fg-assets/js/moment.js"></script>
<link rel="stylesheet" href="fg-assets/css/bootstrap-colorpicker.min.css">
<script src="fg-assets/js/bootstrap-colorpicker.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<script type="text/javascript" src="fg-assets/js/jAutoCalc.js"></script>
<link rel="stylesheet" href="fg-assets/sweetalert2/sweetalert2.min.css">
<script src="fg-assets/sweetalert2/sweetalert2.min.js"></script>
<style>
    .fc-timeline .fc-body .fc-scroller {
        height: 500px !important;
    }
    /*Agenda & Timeline Source event design*/
    .fc-event-container .fc-timeline-event .fc-content:nth-of-type(1),
    .fc-event-container .fc-time-grid-event .fc-content:nth-of-type(1),
    .fc-event-container .fc-day-grid-event .fc-content:nth-of-type(1) {
        margin-top: 0px;
    }

    .fc-event-container .fc-timeline-event .fc-content,
    .fc-event-container .fc-time-grid-event .fc-content,
    .fc-event-container .fc-day-grid-event .fc-content {
        margin-top: 3px;
        margin-bottom: 0px;
        padding: 0px 8px;
    }

        .fc-event-container .fc-timeline-event .fc-content .fc-title,
        .fc-event-container .fc-time-grid-event .fc-content .fc-title,
        .fc-event-container .fc-day-grid-event .fc-content .fc-title {
            font-size: 16px;
            font-family: Arial;
        }

        .fc-event-container .fc-timeline-event .fc-content:nth-last-of-type(1),
        .fc-event-container .fc-time-grid-event .fc-content:nth-last-of-type(1),
        .fc-event-container .fc-day-grid-event .fc-content:nth-last-of-type(1) {
            margin-bottom: 0px;
        }

    .fc th {
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat-bold';
        font-size: 80%;
    }

    .fc button {
        font-family: 'Montserrat';
    }

    .ui-widget .ui-widget, .calendar {
        font-family: 'Montserrat' !important;
    }

    #vertical-resource-view .fc-view-container {
        overflow-x: scroll;
    }


    #vertical-resource-view .fc-view.fc-agendaDay-view.fc-agenda-view {
        width: 100%;
    }
    /* **For 2 day view** */
    #vertical-resource-view .fc-view.fc-agendaTwoDays-view.fc-agenda-view {
        width: 500%;
    }

    #vertical-resource-view .fc-view.fc-agendaThreeDays-view.fc-agenda-view {
        width: 600%;
    }

    #vertical-resource-view .fc-view.fc-agendaWeek-view.fc-agenda-view {
        width: 1500%;
    }
    /*end*/

    .lightbox {
        display: none;
    }

    .popover {
        z-index: 99;
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight {
        border: 1px solid #72c3ec !important;
        background: #e9f3fc url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x !important;
    }

    .fa-sm {
        font-size: 12px;
    }

    .titleContainer,
    .popoverSelect {
        display: flex;
        align-items: center;
    }

    .sidebar ul li a {
        color: #3e246b !important;
    }

    .customTitle {
        background: rgb(255, 255, 255);
        border-color: #aaa;
        padding: 2px;
        border-radius: 5px;
        z-index: 1;
    }

    .btn.btn-outline-success {
        color: #3e246b;
        border: 1px solid #3e246b;
        background-color: transparent;
    }

        .btn.btn-outline-success:hover {
            background-color: #3e246b !important;
            color: #fff;
        }

    .btn-group > .btn-group:not(:first-child) > .btn,
    .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin-right: 0px;
    }

    .btn-group > .btn-group:not(:last-child) > .btn,
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-right: 0 !important;
    }

    .fc-listYear-view tr.fc-list-item,
    .fc-listMonth-view tr.fc-list-item,
    .fc-listWeek-view tr.fc-list-item,
    .fc-listDay-view tr.fc-list-item {
        background: #e2e2e2 !important;
        margin-bottom: 10px;
        display: flex;
        margin: 3px;
    }

    #list-view table.fc-list-table tr .fc-content {
        margin: 3px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .fc-content.fcTime .fc-content {
        color: #fff;
        padding: 0px 5px;
        margin: 3px 3px 3px;
    }

    .fc-content.fcTime small.time {
        color: #7b7b7b;
    }

    .fc-content.fcTime {
        margin: 7px 0px !important;
    }

    .breadcrumbUi.row {
        /*margin-left: -20px !important;*/
    }

    .custom-br {
        font-size: 14px;
        font-style: italic;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: .2px;
    }

    .course-click {
        transition: all linear .3s;
        cursor: pointer;
    }

        .course-click.right {
            transform: rotate(90deg);
        }



    .modal-dialog-slideout {
        min-height: 100%;
        margin: 0 0 0 auto;
        background: #fff;
    }

    .modal.fade {
        padding-right: 0px !important;
    }

        .modal.fade .modal-dialog.modal-dialog-slideout {
            -webkit-transform: translate(100%,0)scale(1);
            transform: translate(100%,0)scale(1);
        }

        .modal.fade.show .modal-dialog.modal-dialog-slideout {
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
            display: flex;
            align-items: stretch;
            -webkit-box-align: stretch;
            height: 100%;
        }

            .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
                overflow-y: auto;
                overflow-x: hidden;
            }

    .modal-dialog-slideout .modal-content {
        border: 0;
    }

    .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
        /* height: 69px;
        display: block;*/
    }

        .modal-dialog-slideout .modal-header h5 {
            float: left;
        }

    .fc-event-container .fc-timeline-event .fc-content:nth-of-type(1), .fc-event-container .fc-time-grid-event .fc-content:nth-of-type(1), .fc-event-container .fc-day-grid-event .fc-content:nth-of-type(1) {
        display: none;
    }

    #agenda-view .fc-event-container .fc-timeline-event .fc-content .fc-title, #agenda-view .fc-event-container .fc-time-grid-event .fc-content .fc-title,
    #agenda-view .fc-event-container .fc-day-grid-event .fc-content .fc-title {
        font-size: 12px;
    }

    #agenda-view .fc-event-container .fc-timeline-event .fc-content, #agenda-view .fc-event-container .fc-time-grid-event .fc-content,
    #agenda-view .fc-event-container .fc-day-grid-event .fc-content {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px !important;
    }

        #agenda-view .fc-event-container .fc-timeline-event .fc-content, #agenda-view .fc-event-container .fc-time-grid-event .fc-content,
        #agenda-view .fc-event-container .fc-day-grid-event .fc-content .fc-customtime {
            position: absolute;
            right: 1px;
            top: 4px;
            font-size: 12px;
        }

    #vertical-resource-view .fc table {
        table-layout: auto;
    }

    #vertical-resource-view .fc-view > table {
        min-width: 0;
        width: auto;
    }

    #vertical-resource-view .fc-axis {
        min-width: 100px; /*the width of times column*/
        width: 100px; /*the width of times column*/
    }

    #vertical-resource-view .fc-day, .fc-resource-cell, .fc-content-col {
        min-width: 350px;
        width: 100%;
    }

    div#calendar .fc-timeline .fc-body .fc-scroller {
        height: auto !important;
    }

    .modalscrollable {
        overflow-y: auto;
        max-height: 500px;
        min-height: 500px;
    }




    /* Important part */
    /*.modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }*/

    .modalscrollable {
        overflow-y: auto;
        max-height: 500px;
        min-height: 500px;
    }


    /* Important part */
    /*.modal-dialog {
        overflow-y: initial !important
    }
    .modal-body {
        height: 80vh;
        overflow-y: auto;
    }*/
    div#calendar .fc-timeline .fc-body .fc-scroller {
        height: auto !important;
        min-height: 400px;
    }

    .menu-icon_box {
        display: inline-block;
        height: 25px;
        position: relative;
        text-align: left;
        width: 25px;
    }

    .Hideleftmenu {
        padding: 56px 0px 0;
        margin-left: -20px;
        position: relative;
    }
    @media only screen and (max-width: 570px) {
        
        #agenda-view div.calendar .fc-day-grid-container {
            height: auto !important;
        }
    }
</style>

<section class="mihi-71" id="mycalendar">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="row mt-4">
                    <div class="col-md-6 p-0 mb-4">
                        <div class="bred-nav">
                            <span><a href="/UserAdmin#/userdashboard">{{translation.User}}</a> / <span> <a href="#">{{translation.My_Calendar}}</a> </span></span>
                        </div>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-disabled="!CMPCODE || CMPCODE==''" class="btn btn-success" style="float:left">Export</button>
                    </div>
                    <div class="col-md-6 p-0">


                        <select ng-model="CMPCODE" class="form-control" id="company-filter-selector" style="max-width:240px; float:right; text-overflow:ellipsis;">
                            <!--<option value="-1">All Companies</option>-->
                            <option ng-repeat="company in CompanyList" value="{{company.COMPANY_CODE}}">{{company.COMPANY_NAME_ENGLISH}}</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="col-lg-12 p-0">
                <div class="card" id="user-calendar">
                    <div id="calendar" style="padding: 0px; margin-top: 15px;">

                        <div id="tabs" style="display:none">
                            <ul>
                                <li data-value="List view">
                                    <a href="#list-view">{{translation.List_View}}</a>
                                </li>
                                <li data-value="External Events">
                                    <a href="#agenda-view">{{translation.Agenda_View}}</a>
                                </li>
                                <!--<li data-value="Timeline resource view">
                                    <a href="#timeline-resource-view">{{translation.Timeline_Resource_View}}</a>
                                </li>
                                <li data-value="Vertical resource view">
                                    <a href="#vertical-resource-view">{{translation.Vertical_Resource_View}}</a>
                                </li>-->
                            </ul>

                            <div id="list-view">
                                <div class="calendar"></div>
                            </div>
                            <div id="agenda-view">
                                <div class="calendar"></div>
                            </div>
                            <!--<div id="timeline-resource-view">
                                <div class="calendar"></div>
                            </div>
                            <div id="vertical-resource-view">
                                <div class="calendar"></div>
                            </div>-->
                        </div>

                        <div ui-calendar="{{uiConfig.calendar}}"
                             calendar="myCalendar"
                             class="span8 calendar"
                             ng-model="eventSources"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade right" id="customEventDetailsModelPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Event Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="event-detail div-flex">
                        <div class="div-flex">
                            <div class="title">

                                <div class="temp">
                                    <span class="titleContainer">
                                        <span> {{selectEventDetails.COMPANY_NAME_ENGLISH}}</span>
                                    </span>
                                </div>

                                <div class="temp">
                                    <span class="titleContainer">
                                        <span> {{selectEventDetails.CALENDAR_NAME}}</span>
                                    </span>
                                </div>

                            </div>
                            <br />
                            <div style="font-weight:bold;" ng-if="!selectEventDetails.allDay" class="{{selectEventDetails.customDate}}">{{selectEventDetails.customDate}}</div>
                            <div style="font-weight:bold;" ng-if="!selectEventDetails.allDay">{{selectEventDetails.customTime}}</div>

                            <div style="font-weight:bold;" ng-if="selectEventDetails.allDay" class="{{selectEventDetails.customDate}}">{{selectEventDetails.customDate}}</div>

                            <div class="temp" ng-repeat="d in selectEventDetails.dropdownList" ng-if="d.formId == '2306'" style="font-weight:bold;">
                                <span class="titleContainer">
                                    <span ng-class="{'text-muted': d.customClass == 'true' , 'title1': d.customClass == 'false'}"> {{d.formTitle}}</span>
                                </span>
                            </div>

                            <br />

                            <div class="temp" ng-repeat="d in selectEventDetails.dropdownList" ng-if="d.formId != '2306' && d.formId != '2310'" style="font-weight:bold;">
                                <span class="titleContainer">
                                    <span ng-class="{'text-muted': d.customClass == 'true' , 'title1': d.customClass == 'false'}"> {{d.formTitle}}</span>
                                </span>
                            </div>

                            <input value="{{selectEventDetails.Id}}" id="newtag-inputHidden" type="hidden">

                            <div ng-repeat="tag in totalSelectListTagify">
                                <input value="{{selectEventDetails[tag.name]}}" id="newtag-inputHidden{{tag.name}}" type="hidden">
                                <input value="{{tag.name}}" id="newtag-inputHidden{{selectEventDetails.Id}}" type="hidden">
                                <input id="newtag-input{{tag.name}}" type="text" value="{{selectEventDetails[tag.name]}}" placeholder="Add tags">
                            </div>

                            <label ng-if="selectEventDetails.description != null && selectEventDetails.description != ''">Event Description:</label>
                            <label class="pr-2" style="font-weight: 400;" ng-bind-html="selectEventDetails.description | safeHtml"></label>

                            <div class="form-group mt-2 p-0" ng-if="selectEventDetails.DOWNLOADABLE_ATTACHMENT && selectEventDetails.DOWNLOADABLE_ATTACHMENT!='' && selectEventDetails.DOWNLOADABLE_ATTACHMENT!='null'">
                                <label ng-show="selectEventDetails.downloadLabelShow">Document download</label>
                                <ul style="list-style-type:none;margin:0;padding:0;margin-top:10px;">
                                    <li ng-repeat="item in selectEventDetails.DOWNLOADABLE_ATTACHMENT_FILES" ng-if="item.type=='public'"><a ng-href="{{item.url}}" target="_blank"><i class="fa fa-file"></i> {{item.name}}</a></li>
                                    <li ng-repeat="item in selectEventDetails.DOWNLOADABLE_ATTACHMENT_FILES" ng-if="item.type=='user' && selectEventDetails.IsAlreadyBooked == 'Y'"><a ng-href="{{item.url}}" target="_blank"><i class="fa fa-file"></i> {{item.name}}</a></li>
                                    <li ng-repeat="item in selectEventDetails.DOWNLOADABLE_ATTACHMENT_FILES" ng-if="item.type=='register' && calendarDetails.IS_ADDITIONAL_FORM_ENTRY"><a ng-href="{{item.url}}" target="_blank"><i class="fa fa-file"></i> {{item.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="form-group mt-2 p-0" ng-if="selectEventDetails.isEnroll && selectEventDetails.IsAlreadyBooked == 'Y' && selectEventDetails.IS_UPLOAD_REQUIRED=='Y'
                         && (selectEventDetails.UPLOAD_TIME=='ANYTIME' || selectEventDetails.UPLOAD_TIME=='AFTER')">
                        <div class="form-group mt-2 p-0">
                            <label for="SELECT_DOWNLOADABLE_ATTACHMENT">Upload Attachments</label>
                            <input type="file" name="SELECT_DOWNLOADABLE_ATTACHMENT" class="form-control" onchange="angular.element(this).scope().validateForm('SELECT_DOWNLOADABLE_ATTACHMENT',false)" accept="image/*,.pdf,.doc,.docx,.xls,.xlsx" multiple id="SELECT_DOWNLOADABLE_ATTACHMENT" />
                            <span id="fileError2" style="color:red" class="error-message"></span><br>
                            <span id="fileSuccess" class="text-success"></span>
                        </div>
                        <input type="hidden" ng-model="selectEventDetails.ASSESSMENT_FILES" value="" id="DOWNLOADABLE_ATTACHMENT_FILES" />
                        <input type="hidden" ng-model="selectEventDetails.ASSESSMENT_FILES_LIST" value="" id="DOWNLOAD_FILE_LIST" />

                        <div class="form-group mt-2 p-0">
                            <button type="button" onclick="angular.element(this).scope().uploadFiles(true)" id="EventUploadBtn2" class="btn btn-primary disable" disabled>Upload</button>
                        </div>

                        <ul>
                            <li style="font-weight:600" ng-repeat="item in selectEventDetails.ASSESSMENT_FILES_LIST_DATA">
                                <a ng-href="{{item.url}}" target="_blank">{{item.name}}</a>
                                <button class="btn btn-link" ng-click="selectedEventRemoveFiles($index)"><i class="fa fa-times-circle"></i></button>
                            </li>
                        </ul>

                    </div>

                    <br />

                    <div class="div-list">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary public-primary" ng-if="selectEventDetails.isEnroll && selectEventDetails.IsAlreadyBooked == 'Y' && selectEventDetails.IsReviewable == 'N'" ng-click="cancelPublicUserBooking()">Cancel Booking</button>
                        <button type="button" class="btn btn-primary public-primary" ng-if="!selectEventDetails.isEnroll && selectEventDetails.IsAlreadyBooked == 'Y' && selectEventDetails.IsReviewable == 'Y'" ng-click="reviewSession()">Review Session</button>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Export</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Please select calendar*</label>
                                <div class="input-group">
                                    <select ng-model="CLRCODE" class="form-control">
                                        <option ng-repeat="item in selectedCalendarData" value="{{item.CALENDAR_CODE}}">{{item.CALENDAR_NAME}}</option>
                                    </select>
                                    <button class="btn btn-success" ng-disabled="!CLRCODE || CLRCODE==''" type="button" ng-click="PdfLink()"><i class="fa fa-download"></i> PDF</button>
                                </div>
                            </div>
                        </div>
                 
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>

</section>

<script>
    document.cookie = "cookieName=cookieValue; SameSite=None; Secure";

</script>
<script src="fg-assets/lightbox/js/lightbox-2.6.min.js"></script>
<!--<script src="Scripts/UserAdminScripts/myCalendar.js"></script>-->
<script src="Scripts/UserAdminScripts/myCalendar.js?v=14"></script>
<!--<script src="Scripts/myscript/controller/calendarController.js"></script>-->
<script src="Content/sidebar/js/sidebar-script.js"></script>