<div id="userProfileDiv" ng-controller="UserProfileController">
    <div class="container">
        <div class="form-inner" style="max-width:unset!important; padding:0px;">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="main-left">
                        <div class="">
                            <span><a href="#">User</a> / <span> <a href="#">My profile</a> </span></span>
                        </div>
                        <div class="ml-content">
                            <h2>My Profile</h2>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-xl-5">
                    <div class="">
                        <button class="btn btn-default" style="float:right; margin-left:16px;" ng-click="saveUserProfileData()">Save</button>
                        <button class="back" style="float:right;">cancel</button>

                    </div>

                </div>

            </div>
            <div class="row mt-5">

                <div class="col-md-3 text-center">
                    <div>
                        <img id="PROFILE_PHOTO_IMG" src="{{userData.PROFILE_PHOTO_PATH}}" style="border:1px solid lightgrey; height:200px; width:200px; border-radius:50%;" />
                    </div>

                    <div class="mt-6">
                        <form>
                            <label for="PROFILE_PHOTO" class="btn btn-default" style="color: white; border-radius: 100px; font-weight:100; padding-left: 24px; padding-right: 24px;">
                                Add pic
                            </label>
                            <input type="file" id="PROFILE_PHOTO" name="PROFILE_PHOTO" onchange="validateImage()" style="display:none;" />
                            <div class="invalid-feedback-2" id="PROFILE_PHOTO_ERROR">Please select an image</div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8" style="padding:0px;">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <label>User Level</label>
                                </div>
                                <input type="text" class="form-control" placeholder="user level" disabled value="Admin" />
                            </div>

                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>User name</label>
                                </div>
                                <input type="text" id="USER_ID" readonly class="form-control" placeholder="user name" value="{{userData.USER_ID}}" />
                                <!--<div class="invalid-feedback-2" id="USER_ID_ERROR">User name is already registered</div>-->
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Password</label>
                                </div>
                                <input type="text" class="form-control" id="USER_PASSWORD" placeholder="password" value="{{userData.USER_PASSWORD}}" />
                                <div class="invalid-feedback-2" id="USER_PASSWORD_ERROR">Password range should be between 6 and 12</div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>First name</label>
                                </div>
                                <input type="text" class="form-control" id="FIRST_NAME" placeholder="first name" value="{{userData.FIRST_NAME}}" />
                                <div class="invalid-feedback-2" id="FIRST_NAME_ERROR">Please enter your first name</div>
                            </div>

                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Last name</label>
                                </div>
                                <input type="text" class="form-control" id="LAST_NAME" placeholder="last name" value="{{userData.LAST_NAME}}" />
                            </div>

                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Chinese name</label>
                                </div>
                                <input type="text" class="form-control" id="CHINESE_NAME" placeholder="chinese name" value="{{userData.CHINESE_NAME}}" />
                            </div>

                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Nick name (this will appear on dashboard) *</label>
                                </div>
                                <input type="text" class="form-control" placeholder="nick name" id="NICK_NAME"  value="{{userData.NICK_NAME}}" />
                                <div class="invalid-feedback-2" id="NICK_NAME_ERROR">Nick name is required</div>
                            </div>

                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Email</label>
                                </div>
                                <input type="text" class="form-control" id="USER_EMAIL" readonly placeholder="email" value="{{userData.USER_EMAIL}}" />
                                <div class="invalid-feedback-2" id="USER_EMAIL_ERROR">Email is already registered</div>
                            </div>

                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Phone</label>
                                </div>
                                <input type="text" class="form-control" id="USER_PHONE" placeholder="phone" value="{{userData.USER_PHONE}}" />
                                <div class="invalid-feedback-2" id="USER_PHONE_ERROR">Enter a valid phone number</div>
                            </div>

                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Gender</label>
                                </div>
                                <input type="radio" name="gender-selector" checked value="MALE" id="gender-male" /> <label for="gender-male" style="margin-right:16px">Male</label>
                                <input type="radio" name="gender-selector"  value="FEMALE" id="gender-female" /> <label for="gender-female" style="margin-right:16px">Female</label>
                                <input type="radio" name="gender-selector" value="OTHER" id="gender-other" /> <label for="gender-other" style="margin-right:16px">Rather not say</label>
                            </div>

                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div>
                                    <label>Birthday</label>
                                </div>
                                <input type="date" class="form-control" id="DATE_OF_BIRTH" placeholder="birthday" value="{{userData.DATE_OF_BIRTH}}" />
                            </div>

                        </div>




                    </div>
                </div>


            </div>
            <!-- End Row -->
        </div>
    </div>
</div>


<script>
    function validateImage() {
        var value = $("#PROFILE_PHOTO").get(0);
        var file = value.files[0];
        
        if (file.type.includes("png") || file.type.includes("jpg") || file.type.includes("jpeg") || file.type.includes("PNG") || file.type.includes("JPG") || file.type.includes("JPEG")) {
            $("#PROFILE_PHOTO_ERROR").hide();
            angular.element(document.getElementById('userProfileDiv')).scope().updateUserProfilePic(file);
        } else {
            $("#PROFILE_PHOTO_ERROR").show();
            $("#PROFILE_PHOTO").val("");

        }
        



    }
</script>