@media screen and (min-width:768px) and (max-width:768px){
  .user-name p {
    top: 60px;
}
}
.mob-none {
    display: block;
}
.ds-none {
    display: none !important;
}
@media screen and (max-width:767px){
    .lmp {
        top: -45px;
    }
    .pro-im img, .pro-im {
        min-height: 200px;
        max-height: 200px;
    }
    .top-bar {
        display: none;
    }
    .mob-none {
       display:none;
    }
    .ds-none {
        display: block !important;
    }
    .main-menu div#myNavbar ul li.ds-none span {
        display: block;
        width: 100%;
        padding: 10px 15px;
        line-height: 20px;
    }
    .main-menu div#myNavbar ul li.ds-none .pyb {
        font-weight: 700;
        color: #E2476C;
    }
    .main-menu .navbar-nav li.rl.ds-none {
        margin-bottom: 25px;
        border-bottom: none !important;
    }
    .pyb button.navbar-toggle {
        border: none;
    }
    /*.main-menu div#myNavbar {
        display: flex;
        flex-direction: column;
    }*/
    .top-bar span:last-child {
        font-size: 13px;
    }
  .top-bar span {
      font-size: 12px;
      padding: 0px 2px;
  }
    .logo-serch {
        display: block;
        padding-top: 15px;
    }
  .main-menu {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    float: left;    
  }
 /* .main-menu .navbar .navbar-collapse {
    background-color: #fff;
    z-index: 9;
    width: 100%;
    float: left;
    position: absolute;
    margin-left: auto;
    padding: 10px 25px;
    box-shadow: 0px 5px 4px -4px #ddd;
    left: 0;
    top: 11px;
}*/
    .main-menu .navbar .navbar-collapse {
        background-color: #fff;
        z-index: 9;
        width: 100%;
        float: left;
        position: absolute;
        margin-left: auto;
        /*padding: 10px 25px;*/
        box-shadow: 0px 5px 4px -4px #ddd;
        left: 0;
        top: 10px;
    }
  .main-menu .navbar-right{
    margin-bottom: 0px;
  }
  button.navbar-toggle {
    padding:0px;
  }
    button.navbar-toggle.collapsed img {
        display: none;
    }
    button.navbar-toggle.collapsed .bars-inner {
    display:block;
    }
    button.navbar-toggle .bars-inner {
        display: none;
    }
    .bars-inner {
        border: 1px solid #e2476c;
        padding: 9px 10px;
        border-radius: 4px;
    }
  .navbar-toggle .icon-bar {
      background-color: #e2476c;
  }
    .search-bar {
        width: 100%;
        margin: 10px 0px 8px;
    }
  .main-menu nav.navbar {
      margin-bottom: 0px;
  }
    .main-menu  div#myNavbar ul li {
        width: 100%;
        float: left;
        padding: 6px 10px 0px 0px;
        border-bottom:1px solid #ddd;

    }
    div#myNavbar .navbar-nav li a {
        font-size: 14px !important;
    }
    /*div#myNavbar .navbar-nav li.active a {
        font-size: 16px;
    }*/
    li.rl a {
        text-align: center;
    }
  div#myNavbar .navbar-nav li.rl a {
    border-radius: 10px 10px 10px 10px !important;
  }
  div#myNavbar .navbar-nav li.rl ul a {
    background-color: transparent;
    color: #222;
    border: 1px solid #ddd;
    margin: 6px 0px;
  }
  .user-name p {
    margin-bottom: 0px;
    line-height: 2;
    text-align: revert;
    position: relative;
    right: 0px;
    top: 0px;
    text-align: right;
}
.media-left, .media-body {
    width: 100%;
    float: left;
}

/* ================================= banner ================================= */
  .banner-form {
      padding-top: 0px;
  }
  .banner-form h1 {
      font-size: 20px;
  }
  .form-inner p {
      font-size: 14px;
      width: 100%;
  }
  .fields .form-group {
      width: 100%;
      float: left;
      margin-right: 0px;
  }
  .fields p a {
      top: 0;
      width: 100%;
      float: left;
      text-align: center;
  }
  .fields .form-group select {
      height: 45px;
  }
  .banner-image img {
      top: 15px;
  }

/* footer */
.fooetr-link a {
    display: block;
    margin-bottom: 5px;
    border: none !important;
}
.social-links {
    text-align: left;
    margin: 9px 0px;
    padding: 0px 10px;
}
}