* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    float: left;
}











/*======================== top bar ==============================*/
.main-header {
    width: 100%;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -5px #646464;
}

.top-bar {
    width: 100%;
    float: left;
    padding: 12px 0px;
    text-align: right;
}

    .top-bar span {
        font-size: 14px;
        font-weight: 400;
        color: #777;
        padding: 0px 15px;
    }

        .top-bar span:last-child {
            font-size: 18px;
            font-weight: 700;
            color: #E2476C;
        }

        .top-bar span:nth-child(2) img {
            width: 10px;
        }

        .top-bar span img {
            width: 12px;
            top: -2px;
            position: relative;
        }
/* ========================= nav bar ========================= */
.navbar-nav > li {
    float: left;
    margin: 0px 5px;
}

div#myNavbar .navbar-nav li a:hover {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 400;
    background-color: #e3476c;
    border-radius: 10px 10px 0px 0px;
}

/*div#myNavbar .navbar-nav li ul li a:hover {
    color: #E2476C !important;
}*/
div#myNavbar .navbar-nav li ul li a:hover {
    color: #ffffff !important;
}
.custome-filter-category-master {
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    float: left;
    border-radius: 40px;
    font-size: 16px;
    height: 47px;
    -webkit-appearance: none;
    position: relative;
}
.custome-ser {
    width: 100%;
    float: left;
    position: relative;
}
.custome-ser:after {
    content: "";
    width: 17px;
    height: 10px;
    position: absolute;
    top: 45px;
    right: 15px;
    background-image: url(/assets/marketplace/image/aerrow.png);
    background-position: center;
    background-size: cover;
}
.favr button#btn-mark-fav img {
    margin-right: 9px;
    position: relative;
    top: -2px;
}

.favr button#btn-mark-fav {
    background-color: #ddd;
    border-color: #ddd;
    color: #505050;
}

.logo-serch {
    width: 100%;
    float: left;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
}

.user-name {
    width: 100%;
    float: left;
}

    .user-name p {
        margin-bottom: 0px;
        line-height: 3;
        text-align: revert;
        position: absolute;
        right: 35px;
        top: 12px;
    }

.search-bar {
    width: 290px;
}

    .search-bar .input-group {
        border: 1px solid #ddd;
        font-weight: 400;
        font-size: 15px;
        padding: 5px;
        border-radius: 40px;
    }

.input-group-btn .glyphicon {
    color: #3fbfc8;
}

.search-bar .input-group input, .search-bar .input-group .input-group-btn .btn {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
}


.main-menu nav.navbar {
    margin-bottom: -1px;
}

@media screen and (min-width:769px) {
    .navbar-collapse.collapse {
        display: flex !important;
        justify-content: right;
    }
}

div#myNavbar .navbar-nav li.active a {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

div#myNavbar .navbar-nav li a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}


div#myNavbar .navbar-nav li.rl a {
    background-color: #E2476C;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;
}

div#myNavbar .navbar-nav li.rl ul a {
    background-color: transparent;
    color: #222;
}
    div#myNavbar .navbar-nav li.rl ul a:hover {
        color: #e2476c !important;
    } 
    /*======================================= bnner section ==================================================*/
    section.top-banner {
        background-image: url("../image/banner-back.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

.banner-form h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 25px;
}

.banner-form {
    width: 100%;
    float: left;
    padding-top: 54px;
    padding-bottom: 35px;
}

.banner-image {
    width: 100%;
    float: left;
}

    .banner-image img {
        width: 95%;
        position: relative;
        top: 50px;
        margin-left: 25px;
    }

.form-inner {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 10px;
}

.fields {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.form-inner p {
    color: #777777;
    font-weight: 400;
    font-size: 15px;
}

.banner-form .form-inner p {
    margin-bottom: 0px;
}

.banner-form .form-inner .fields {
    margin-top: 0px;
}

.fields .form-group {
    width: 42%;
    float: left;
    margin-right: 10px;
}

    .fields .form-group select {
        border: 1px solid #CCCCCC;
        height: 50px;
        border-radius: 50px;
        padding: 0px 15px;
        color: #000;
    }

    .fields .form-group select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("../image/aerrow.png");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 18px;
        background-size: 14px;
    }

.fields p a {
    background-color: #e3476c;
    padding: 15px 17px;
    border-radius: 50px;
    position: relative;
    top: 60px;
    float: left;
}

.fields p {
    width: 12%;
    float: left;
}

/*sliders*/

.pro-text p {
    margin-bottom: 3px;
}

.pro-text {
    padding: 8px 0px;
}

p.p4, p.p1 {
    font-size: 13px;
}

p.p2 {
    font-size: 16px;
}

p.p3 {
    font-size: 14px;
}

p.p4 a {
    text-decoration: underline;
    color: #3fbfc8;
    padding: 0px 8px 0px 0px;
}

section.subcatageory {
    margin-top: 40px;
}

.heading-cata h3 {
    color: #E2476C;
    font-weight: 600;
    font-size: 18px;
}

.my-slide button.owl-prev {
    left: -45px;
    top: 45%;
}

.my-slide button.owl-next {
    right: -45px;
    top: 45%;
}

.my-slide button.owl-prev span, .my-slide button.owl-next span {
    color: #3FBFC7;
    display: block;
    line-height: 12px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    /*border: 1px solid #CCCCCC !important;*/
    border: 2px solid #22d2dd !important;
    font-size: 40px !important;
    border-radius: 50px;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*======================================= booking ===============================================*/
.mt-80 {
    margin-top: 80px;
}

.booking-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    align-items: center;
    color: #E2476C;
}

.booking-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #222222;
}

.booking-im img {
    width: 100%;
}

.booking-im {
    width: 100%;
    float: left;
}


/* ===================================== how does it work ========================================== */

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.hdiw-inner h2 {
    text-align: center;
    font-size: 40px;
    color: #e2476c;
    font-weight: 700;
}

.im img {
    width: 100%;
    margin-bottom: 15px;
}

.im {
    width: 100%;
    float: left;
}

.txt h3 {
    font-weight: 600;
    font-size: 18px;
    color: #E2476C;
}

.txt p {
    font-weight: 400;
    font-size: 14px;
    color: #222;
}


button.learn-more {
    padding: 0;
    border: none;
    width: 200px;
    margin-top: 15px;
    background: transparent;
}

    button.learn-more a {
        background: #E2476C;
        border-radius: 30px;
        border: none;
        color: #fff;
        width: 100%;
        float: left;
        padding: 10px;
        text-decoration: none;
    }

div#owl-demo5 .pro-im img {
    width: 100%;
    height: 115px;
}

.pro-text .f2 {
    font-size: 14px;
}

.pro-text .f1 {
    font-size: 13px;
}

/*footer*/
section.footer {
    padding: 20px 0px;
    background-color: #222222;
    margin-top: 40px;
}

.fooetr-link a {
    color: #fff;
    padding: 0px 10px;
    text-decoration: none;
}

    .fooetr-link a:nth-child(2) {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

.social-links {
    text-align: right;
}

    .social-links a {
        color: #fff;
    }


/*============================= business ======================================*/
section.bredcrum {
    padding: 20px 0px 0px;
}

.head h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
}

.filter button.filter-btn {
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    float: left;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
}

.filter p, .Search p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.filter button.filter-btn img {
    margin-right: 10px;
    width: 22px;
}

.filter-tags {
    width: 100%;
    float: left;
}

    .filter-tags input {
        width: 100%;
        border: 1px solid #ddd;
        height: 40px;
        border-radius: 40px;
        outline: none;
    }

.inner-content {
    width: 100%;
    float: left;
    margin-top: 40px;
}
.over-auto .inner-content {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

h4.media-heading {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #E2476C;
}

.media {
    margin-bottom: 25px;
    position:relative;
}

.media-body p {
    font-size: 15px;
    margin-bottom: 5px;
}

/*=============================== pagination ====================================*/
.pagination {
    margin-top: 50px;
    width: 100%;
    float: left;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .pagination .btn {
        /* border: 1px solid #3fbfc7; */
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background: none;
        cursor: pointer;
        margin-right: 10px;
        padding: 0;
        outline: none;
    }

        .pagination .btn img {
            width: 34px;
            height: 34px;
        }

    .pagination .btn-icon {
        width: 24px;
        height: 24px;
        stroke: #087f5b;
    }

    .pagination .btn:hover {
        background-color: transparent;
    }

        .pagination .btn:hover .btn-icon {
            stroke: #fff;
        }

    .pagination .page-link:link, .pagination .page-link:visited {
        text-decoration: none;
        font-size: 18px;
        border-radius: 50%;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 2;
        border: 1px solid #3fbfc7;
        margin-right: 10px;
        color: #3fbfc7;
    }

    .pagination .page-link:hover,
    .pagination .page-link:active,
    .pagination .page-link.page-link--current {
        background-color: #3FBFC7;
        color: #fff;
    }

    .pagination .dots {
        color: #868e96;
    }

/*============================= tag =============================*/
.sub-hed p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #E2476C;
    margin-bottom: 30px;
}

.tag h4.media-heading {
    color: #222222;
}

/*com-nav*/
.com-det {
    margin-bottom: 0px;
    background: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .com-det a.navbar-brand {
        padding: 7px 15px;
    }

.com-nav {
    margin: 5px 0px 0px 0px;
}

div#com-nav ul.nav.navbar-nav {
    margin-top: 7px;
    margin-bottom: -1px;
}

div#com-nav .navbar-nav li {
    float: left;
    margin: 0px 1px;
}

    div#com-nav .navbar-nav li a {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
    }

    div#com-nav .navbar-nav li.active a {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
    }

    div#com-nav .navbar-nav li.rl a {
        background-color: #E2476C;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px 10px 0px 0px;
    }

.com-nav .input-group {
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
    border-radius: 40px;
    background-color: #fff;
}

    .com-nav .input-group input, .com-nav .input-group .input-group-btn .btn {
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

/*secondry nav*/
.no-mar-bott {
    margin-bottom: 0px;
    padding: 10px 0px;
}

.company-detail-hed .head h2 {
    font-size: 24px;
}

.cd-banner {
    width: 100%;
    float: left;
    margin-top: 25px;
}

    .cd-banner img {
        width: 100%;
    }

.address {
    width: 100%;
    float: left;
}

    .address p.pink, .detail p.pink {
        color: #E2476C;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.22px;
    }

    .address p, .detail p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.22px;
        color: #222222;
    }

.detail {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.add-social, .mt-30 {
    margin-top: 30px;
}

span.location {
    color: #777;
    font-size: 14px;
}
/*end*/
.card-top-detail, .card-bottom {
    width: 100%;
    float: left;
}

.bpgd {
    width: 30%;
    float: left;
    padding: 15px 15px;
    background-color: #ECFAFB;
    border-radius: 10px;
    margin-right: 14px;
    margin-bottom: 15px;
}

    .bpgd h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #222222;
    }

    .bpgd p {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 0px;
    }

p.mt-10 {
    margin-top: 10px;
}

.bpgd p button {
    width: 100%;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 22px;
    background-color: #3FBFC7;
}

.card-pakage {
    width: 100%;
    float: left;
    padding: 15px;
    border: 2px solid #3FBFC7;
    border-radius: 10px;
    margin-bottom: 24px;
}

.mihi-71 {
    min-height: calc(100vh - 215px);
}

/*start*/
.schedule-drop select {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.favr button {
    border: 2px solid #3FBFC7;
    border-radius: 30px;
    color: #3FBFC7;
    background-color: #fff;
    padding: 6px 20px;
    width: 206px;
}

.favr {
    /*width: 100%;*/
    /*float: left;*/
    text-align: right;
    padding-top: 28px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .fc th {
    font-family: 'Poppins' !important;
}

.schedule-drop:after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 12px;
    width: 12px;
    height: 12px;
    background-image: url("../image/aerrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.schedule-drop {
    position: relative;
}

section.schedule {
    margin-top: 30px;
}

div#secondry-nav ul li a {
    background-color: transparent;
    font-weight: 400;
    color: #222222;
}

div#secondry-nav ul li.active a {
    font-weight: 700;
}

li.rl > ul > li > a {
    background-color: transparent !important;
    color: #222222 !important;
}

.fl-r {
    width: 150px;
    float: right;
}

.fl-l {
    width: 150px;
    float: left;
}

.news-banner img {
    width: 100%;
}

.news-banner {
    width: 100%;
    float: left;
    margin-top: 15px;
}

button.blogtag_num {
    background-color: transparent;
    color: #3FBFC7;
    text-align: center;
    padding: 8px 0px;
    overflow-y: hidden;
    max-height: 38px;
    width: 100%;
    border: 2px solid #3FBFC7;
    border-radius: 30px;
}

.blog-slide {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.sp-dis p {
    width: 100%;
    float: left;
    margin: 12px 0px;
    color: #222222;
    font-size: 14px;
}

.sidebar .media-body p {
    margin-bottom: 0px;
}
section.bottom-nav {
    position: sticky;
    bottom: 0px;
    z-index: 99;
    background: white;
    border-top: 1px solid #ebebeb;
}
.address-inner, .main-inner-third {
    width: 100%;
    float: left;
    margin-bottom:30px;
}
@media screen and (max-width:767px) {
    .my-navbr-mob.collapse.in {
        display: grid;
    }
        div#myNavbar ul:first-child {
            order: 2;
        }

        div#myNavbar ul:last-child {
            div #myNavbar ul: first-child;
            order: 1;
        }

    
    div#calendar div#tabs div#vertical-resource-view {
        padding-left: 5px;
        padding-right: 5px;
    }
    section.bottom-nav {
        position: static;
    }
    .subcatageory .featured-company .heading-cata h2 {
        font-size: 20px;
    }
    .secondry-nav, .com-nav-btn {
        top: 10px !important;
        right: 0 !important;
        position: relative;
    }

    div#com-nav ul li, div#secondry-nav ul li {
        display: block;
        width: 100%;
        float: left;
    }

    div#com-nav ul, div#secondry-nav ul {
        width: 100%;
        float: left;
    }

    div#com-nav, div#secondry-nav {
        background-color: #fff;
        border-top: 1px solid #ddd;
        margin-top: 10px;
    }

    .bpgd {
        width: 100%;
        float: left;
    }
    .custome-ser select#filter-category-master {
        margin-bottom: 15px;
    }
    div #Content-row .col-md-6:nth-child(5) {
        clear: both;
    }
}
/*end*/


.modal {
    --bs-modal-zindex: 101;
    --bs-modal-width: 550px;
    --bs-modal-padding: 2rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: transparent;
    --bs-modal-border-width: 0.0625rem;
    --bs-modal-border-radius: 0.75rem;
    --bs-modal-box-shadow: 0rem 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
    --bs-modal-inner-border-radius: 0.6875rem;
    --bs-modal-header-padding-x: 2rem;
    --bs-modal-header-padding-y: 2rem;
    --bs-modal-header-padding: 2rem 2rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 0;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 0.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--bs-modal-margin);
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none;
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.modal-dialog-scrollable {
    height: calc(100% - var(--bs-modal-margin) * 2);
}

    .modal-dialog-scrollable .modal-content {
        max-height: 100%;
        overflow: hidden;
    }

    .modal-dialog-scrollable .modal-body {
        overflow-y: auto;
    }

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.modal-backdrop {
    --bs-backdrop-zindex: 100;
    --bs-backdrop-bg: rgba(19, 33, 68, 0.25);
    --bs-backdrop-opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

    .modal-backdrop.fade {
        opacity: 0;
    }

    .modal-backdrop.show {
        opacity: var(--bs-backdrop-opacity);
    }

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

    .modal-header .btn-close {
        padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
        margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
    }

.modal-title {
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

    .modal-footer > * {
        margin: calc(var(--bs-modal-footer-gap) * 0.5);
    }


/*new*/
.carusal {
    width: 100%;
    float: left;
    height: 200px;
}
/*new end*/
section.bottom-nav .com-det {
    box-shadow: none;
    margin-top: 30px;
}
.no-mt{
    margin-top:0px !important;
}


@media (min-width: 576px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
    }

    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

    .modal-sm {
        --bs-modal-width: 400px;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        --bs-modal-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 1140px;
    }
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}

    .modal-fullscreen .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen .modal-footer,
    .modal-fullscreen .modal-header {
        border-radius: 0;
    }

    .modal-fullscreen .modal-body {
        overflow-y: auto;
    }

@media (max-width: 575.98px) {
    .modal-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

        .modal-fullscreen-sm-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-fullscreen-sm-down .modal-footer,
        .modal-fullscreen-sm-down .modal-header {
            border-radius: 0;
        }

        .modal-fullscreen-sm-down .modal-body {
            overflow-y: auto;
        }
}

@media (max-width: 767.98px) {
    .modal-fullscreen-md-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

        .modal-fullscreen-md-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-fullscreen-md-down .modal-footer,
        .modal-fullscreen-md-down .modal-header {
            border-radius: 0;
        }

        .modal-fullscreen-md-down .modal-body {
            overflow-y: auto;
        }
    div#owl-demo5 .owl-prev, div#owl-demo5 .owl-next {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .modal-fullscreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

        .modal-fullscreen-lg-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-fullscreen-lg-down .modal-footer,
        .modal-fullscreen-lg-down .modal-header {
            border-radius: 0;
        }

        .modal-fullscreen-lg-down .modal-body {
            overflow-y: auto;
        }
}

@media (max-width: 1199.98px) {
    .modal-fullscreen-xl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

        .modal-fullscreen-xl-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-fullscreen-xl-down .modal-footer,
        .modal-fullscreen-xl-down .modal-header {
            border-radius: 0;
        }

        .modal-fullscreen-xl-down .modal-body {
            overflow-y: auto;
        }
}

@media (max-width: 1399.98px) {
    .modal-fullscreen-xxl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

        .modal-fullscreen-xxl-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-fullscreen-xxl-down .modal-footer,
        .modal-fullscreen-xxl-down .modal-header {
            border-radius: 0;
        }

        .modal-fullscreen-xxl-down .modal-body {
            overflow-y: auto;
        }
}


.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.5rem;
    opacity: 0.5;
}
.div-list button{
    min-width: 120px;
    border-radius: 100px;
}
.public-primary, .public-primary:hover {
    background: #E2476C;
    border-color: #E2476C;
    color: #fff;
    cursor: pointer;
}
.public-cancel, .public-cancel:hover {
    cursor: pointer;
    border: 1px solid #777777;
    color: #777777;
    background-color: #EBEBEB;
}
    
    .public-primary.active.focus, .public-primary.active:focus, .public-primary.focus, .public-primary:active.focus, .public-primary:active:focus, .public-primary:focus {
        outline: none;
        outline-offset: -2px;
        background: #E2476C;
        border-color: #E2476C;
    }
.public-cancel.active.focus, .public-cancel.active:focus, .public-cancel.focus, .public-cancel:active.focus, .public-cancel:active:focus, .public-cancel:focus {
    outline: none;
    outline-offset: -2px;
    color: #777777;
    background-color: #EBEBEB;
}

/**/
.pro-text p {
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.new-clr-tag {
    position: absolute;
    top: 7px;
    left: 5px;
}
.heading-cata > .heading-cata {
    margin-top: 20px;
    padding: 0px 10px;
    margin-left: 5px;
    color: #E2476C;
    cursor: pointer;
}

.heading-cata {
    width: 100%;
    display: flex;
    white-space: nowrap;
}
/**/
@media screen and (max-width:1920px) {
    .my-slide button.owl-prev {
        left: -65px;
        top: 35%;
    }
    .my-slide button.owl-next {
        right: -65px;
        top: 35%;
    }
}
@media screen and (max-width:1366px) {
    section .bottom-nav nav.navbar div#com-nav .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 9px;
        font-size: 16px;
    }
    section.bottom-nav .com-nav {
        margin: 8px 0px 0px 0px;
    }
    section.bottom-nav .navbar-brand > img {
        width: 165px;
    }
    /*section.bottom-nav .navbar-collapse.collapse {
        display: block !important;
        justify-content: right;
    }*/
    /*div#owl-demo5 {
        padding-left: 12px;
    }*/
    div#owl-demo5 .owl-prev, div#owl-demo5 .owl-next {
        margin: -30px -5px 10px;
        font-size: 31px !important;
        padding-top: 8px !important;
        padding-bottom: 11px !important;
        padding-left: 11px !important;
        padding-right: 11px !important;
    }
    .my-slide button.owl-next {
        right: -45px;
    }
    .my-slide button.owl-prev {
        left: -45px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        font-size: 35px !important;
        padding-top: 10px !important;
        padding-bottom: 12px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}
@media screen and (min-width:769px) and (max-width:1200px) {
    section.bottom-nav .navbar-collapse.collapse {
        display: block !important;
    }
}
@media screen and (min-width:1680px) and (max-width:2560px) {
    .photo-album-inner {
        margin-top: 60px;
    }
}


/*placeholder loader*/
.timeline-wrapper {
    width: 100%;
    float: left;
}

.timeline-item {
    background-color: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin: 0 auto;
    width: 100%;
    float: left;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

    /* Every thing below this is just positioning */

    .background-masker.header-top,
    .background-masker.header-bottom,
    .background-masker.subheader-bottom {
        top: 0;
        left: 40px;
        right: 0;
        height: 10px;
    }

    .background-masker.header-left,
    .background-masker.subheader-left,
    .background-masker.header-right,
    .background-masker.subheader-right {
        top: 10px;
        left: 40px;
        height: 8px;
        width: 10px;
    }

    .background-masker.header-bottom {
        top: 18px;
        height: 6px;
    }

    .background-masker.subheader-left,
    .background-masker.subheader-right {
        top: 24px;
        height: 6px;
    }


    .background-masker.header-right,
    .background-masker.subheader-right {
        width: auto;
        left: 300px;
        right: 0;
    }

    .background-masker.subheader-right {
        left: 230px;
    }

    .background-masker.subheader-bottom {
        top: 30px;
        height: 10px;
    }

    .background-masker.content-top,
    .background-masker.content-second-line,
    .background-masker.content-third-line,
    .background-masker.content-second-end,
    .background-masker.content-third-end,
    .background-masker.content-first-end {
        top: 40px;
        left: 0;
        right: 0;
        height: 6px;
    }

    .background-masker.content-top {
        height: 20px;
    }

    .background-masker.content-first-end,
    .background-masker.content-second-end,
    .background-masker.content-third-end {
        width: auto;
        left: 380px;
        right: 0;
        top: 60px;
        height: 8px;
    }

    .background-masker.content-second-line {
        top: 68px;
    }

    .background-masker.content-second-end {
        left: 420px;
        top: 74px;
    }

    .background-masker.content-third-line {
        top: 82px;
    }

    .background-masker.content-third-end {
        left: 300px;
        top: 88px;
    }

.half {
    width: 100%;
    float: left;
    margin-bottom: 16px;
}

.custome-filser .inner-content .media-left img {
    height: 129px;
    max-width: 200px;
}
.mt-25 {
    margin-top: 25px;
}
.custome-filser {
    min-height: 60.6vh;
}

div#myNavbar .navbar-nav li.rl ul a:hover {
    color: #e2476c !important;
}

.dropdown-menu {
    min-width: 156px !important ;
}


.custome-filter-category-master, .Search.custome-ser select {
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 10px 15px;
    width: 100%;
    float: left;
    border-radius: 40px;
    font-size: 16px;
    height: 47px;
    -webkit-appearance: none;
    position: relative;
}

.custome-ser {
    width: 100%;
    float: left;
    position: relative;
}

    .custome-ser:after {
        content: "";
        width: 17px;
        height: 10px;
        position: absolute;
        top: 45px;
        right: 15px;
        background-image: url(/assets/marketplace/image/aerrow.png);
        background-position: center;
        background-size: cover;
    }

.head h2 {
    font-size: 24px;
}
.media-object{
    border-radius:6px;
}
p.tag a {
    text-decoration: underline;
}


.heading-cata a {   
    padding: 0px 10px;
    margin-left: 5px;
    color: #E2476C;
    cursor: pointer;
}
.pro-im img, .media-left img {
    border-radius: 10px;

    border: 1px solid #e9e7e7;
    
}
.media-left img {
    min-width: 200px;
    min-height: 132px;
}
    div #Content-row .col-md-6:nth-child(3) {
    clear: both;
}

#Content-row {
    min-height: 450px;
}
    button .btn.btn-default:hover, button.btn.btn-default:focus {
    background-color: transparent;
    outline: none;
}

.company-content {
    margin-top: 25px !important;
    min-height: 528px !important;
}
.filter-tags{
    padding-top:3px;
}


.owl-theme .owl-nav [class*=owl-]:hover {
    background: #dbdbdb;
    color: #FFF;
    text-decoration: none;
}
div#blogrow .col-md-4:nth-child(4) {
    clear: both;

}

.hotBlog {
    position: absolute;
    top: 6px;
    left: 8px;
    color: wheat;
    font-weight: 600;
    background-color: #E2476C;
    width: 49px;
    padding: 4px 11px 3px;
    border-radius: 5px;
}
